[2020-01-17 21:49] mnichol3 commented on #161
Here is a comparison of the current radiative forcings produced by Hector (eqs. from Joos et al., 2001) and the radiative forcings calculated using the equations in Etminan et al., 2016:

![rf_eq_compare](https://user-images.githubusercontent.com/15006171/72647816-6947dd00-3947-11ea-9d9a-72184e739723.png)

The calculations used co2, ch4, & n2o concentrations from a "default" Hector run using the r

[2020-01-17 22:20] ssmithClimate commented on #161
@mnichol3 looks good! I suggest as a validation to plug in a specific concentration value pulled from Figure 2 of Etminan et al. for CH4 and N2O and compare with values on the graph there just as a double check.

[2020-01-21 21:46] mnichol3 commented on #161
@ssmithClimate [this script](https://github.com/mnichol3/my_jgcri/blob/master/hector/scripts/test/validate_rf.py) uses the radiative forcing equations (implemented in the scripts used to produce the above plots) and concentrations from Etminan et al., 2016's [supplemental information table S1](https://agupubs.onlinelibrary.wiley.com/action/downloadSupplement?doi=10.1002%2F2016GL071930&file=grl5530

[2020-01-22 15:43] ssmithClimate commented on #161
@mnichol3 that's great!

[2020-01-23 16:57] cahartin commented on #325
@mnichol3 take a look at the [RCMIP] (www.rcmip.org) emissions to see which gases we need to include

[2020-01-24 14:58] cahartin commented on #344
addressed in PR #345

[2020-01-24 14:58] #344 closed

[2020-01-24 20:43] #280 closed

[2020-01-24 20:48] mnichol3 opened #351 "Trailing whitespace in cpp source files"
The majority of the lines of cpp source code have trailing white space. When files are saved in RStudio, the trailing white space is removed per `hector.Rproj`:
[code]
Git detects these changes and presents them in pull requests along with meaningful changes. As many have noted, this is quickly becoming a nuisance in PRs as it adds tens of extra changed files.

[2020-01-24 20:52] ssmithClimate opened #352 "Clarify forcing names"
Stratospheric H2O and troposphere ozone forcing are not clearly named. Perhaps update to clarify: RF_H2O -> RF_StratH2O and RF_O3 -> RF_TropO3? This may break interfaces that look for the older names.

[2020-01-24 21:59] mnichol3 commented on #352
Is it sufficient to only update the names of the exported `rcpp` functions in `rcpp_constants.cpp`? I.E.,
[code]
becomes
[code]
This would provide clarification for the user, but would keep the changes limited to the R wrapper (not update the names in the `.ini` or emission files, etc)

[2020-01-24 22:22] ssmithClimate commented on #352
Good question. Would be good to hear from @cahartin and @kdorheim  on that!

[2020-01-25 00:38] cahartin commented on #352
I'm inclined to update all the code in case we have future developments like stato_O3.

[2020-01-27 12:49] rplzzz commented on #351
Echoing my comment on #353, would it not be easier to change the `StripTrailingWhitespace` setting so that Rstudio does not make these changes?

[2020-01-27 15:32] mnichol3 commented on #351
That certainly is the simpler solution. However, the whitespace serves no purpose and has drawn numerous comments in PRs, so why not remove it from the existing code in addition to adding an IDE config file that removes any new trailing whitespace on save?

In addition to making the code cleaner (clean code is good code), it'll make navigation via cursor/arrowkeys much easier in vim (I use vim a g

[2020-01-27 15:46] mnichol3 commented on #352
@cahartin good idea!

[2020-01-27 16:32] cahartin commented on #308
https://www.nature.com/articles/s41558-019-0677-4

[2020-01-27 16:49] ssmithClimate commented on #308
Note that the warming found in the above study is actually from the GHG forcing, but they also conclude that ODP GHG forcing has a higher efficacy than other GHGs.

[2020-01-27 17:04] rplzzz commented on #351
It serves no purpose, but it also causes no harm, and removing it does not make the code cleaner in any meaningful way because the spaces are invisible to humans.

Meantime, the price you're paying is that you're demanding that people use an editor that conforms to that standard.  From the look of the diffs there is at least one editor in use that inserts indentation even on blank lines.  So, now

[2020-01-27 18:03] #328 closed

[2020-01-27 18:36] ashiklom opened #354 "Cannot retrieve atmosphere -> land C flux for first year (1745)"
The way it is currently implemented (#341), atmosphere -> land C flux is calculated in `simpleNbox::stashCValues`, which is never called for the very first time step (by default, 1745). As a result, the first year that atmosphere-land C flux can be retrieved is 1746.

[2020-01-27 21:19] mnichol3 commented on #351
We already ask that people conform to the [Hector style guide](https://jgcri.github.io/hector/articles/manual/StyleGuide.html), which includes many common C++ standards & conventions. I fail to see how the addition of another [common convention](http://google.github.io/styleguide/cppguide.html#Horizontal_Whitespace) is an issue.

A good point, however it is pretty simple to have the dev remove tra

[2020-01-27 21:42] bpbond commented on #351
Is this a recurring problem? I admit am curious about the editors in use and their behavior. We could also do a one-time `sed` processing step to remove trailing whitespace and see how quickly it comes back.

Anyway, on balance I'd vote with @rplzzz to not worry about this, though don't feel super strongly.

[2020-01-31 15:42] #352 closed

[2020-01-31 15:58] ssmithClimate opened #356 "Add OH dependance to HFC lifetimes"
The sink for HFCs and HCFCs (but not PFCs, SF6, etc.) are also oxidation in the atmosphere. OH will also impact lifetimes here and should be added.

Also, looks like the "HFC component" applies to gases other than HFCs. Perhaps re-name to F-gas component.

[2020-01-31 16:59] rgieseke commented on #356
There are also CH3CCl3_halocarbon and CCl4_halocarbon, aren't they?

[2020-02-10 20:01] #329 closed

[2020-02-20 19:27] mnichol3 opened #357 "RCP60 emissions filename is incorrect"
The name of the emissions file for RCP60 is `RCP6_emissions.csv`, instead of `RCP60_emissions.csv`.

Hector still runs properly due to the `RCP6` name appearing in the `hector_rcp60.ini` file
(Ex: `ffi_emissions=csv:emissions/RCP6_emissions.csv`), which may be why this has slipped through the cracks.

It appears that the file has had this name since at least v2.3.0

[2020-02-25 18:29] kdorheim opened #359 "Hector Reference Temp"
There are a few Hector issues that I need to open but GitHub is being weird

Hector temperature output is returned as an anomaly and there are several outstanding questions.

1. Where does Hector's reference temperature come from? In the `ocean_componet.cpp` there is a line that say
[code]

where does 288.15K come from? and what year is it for?

2. What do we want Hector's reference temperature to

[2020-02-25 18:36] kdorheim commented on #359
@stephpenn1 can you add the info from you search? and include the relevant text?

[2020-02-25 18:37] kdorheim opened #360 "Global Mean Temp (GSAT or GMST)"
Does Hector calculate global mean air surface temp or global mean surface temp? Does it matter for SCMs?

[2020-02-25 18:38] bpbond commented on #359
The 288.15 is 273.15 + 15; we assume that the preindustrial global mean temperature was, roughly, 15 C.

[2020-02-25 18:40] kdorheim commented on #359
Okay preindustrial global mean temperature from what year? 1850, 1750, it is an average over a period?

[2020-02-25 18:41] bpbond commented on #359
My memory is that it's just a broad preindustrial mean; not intended to be super-precise either numerically or to a specific point in time.

[2020-02-25 18:41] stephpenn1 commented on #359
This is from the _AR5 Summary for Policymakers, Technical Summary and Frequently Asked Questions Glossary_ term: **Energy budget (of the Earth)**, see screenshot below (full document [here](https://www.ipcc.ch/site/assets/uploads/2018/03/WG1AR5_SummaryVolume_FINAL.pdf)) I can't quite find what time period they calculated that value from but will keep looking.

![Screen Shot 2020-02-25 at 1 37 40 P

[2020-02-25 18:44] kdorheim commented on #359
@bpbond fair enough but when we are talking about calibrating Hector to ESM data it matters what the value is and what the reference period is

[2020-02-25 18:46] bpbond commented on #359
@kdorheim 🤷‍♂ this isn't a use that it intended for originally.

[2020-02-25 18:47] bpbond commented on #360
I've thought of it as 2 m air temperature, but don't know if that's formally defined anywhere.

[2020-03-16 16:04] mnichol3 opened #361 "Cold bias in RCMIP"
Hector displays a cold bias compared to other models in RCMIP.

Some diagnostic plots are below

[version-compare.pdf](https://github.com/JGCRI/hector/files/4339067/version-compare.pdf)
[input_emissions-rcp60.pdf](https://github.com/JGCRI/hector/files/4339082/input_emissions-rcp60.pdf)
[input_emissions-rcp45.pdf](https://github.com/JGCRI/hector/files/4339083/input_emissions-rcp45.pdf)
[forcings.pd

[2020-03-16 18:29] ssmithClimate commented on #361
Hmmm, so N2O forcing is still off. Suggest we fix that and then see where we are. @mnichol3, which lines are which in the n2o emissions graph?

[2020-03-16 18:37] ssmithClimate commented on #361
From N2OComponent::run
[code]
it would seem perhaps the code is expecting emissions in Nitrogen units, whereas the RCMIP input emissions are in units of N2O. Is that conversion happening somewhere? (In older versions, its possible emissions were input in N units.)

[2020-03-17 01:12] kdorheim opened #362 "Expose Flux Variable Bindings"
This is an issue requested by Dawn (I think she probably needs to be added as a Hector collaborator).

An another example of when we did this was with pull request #319. Which could be a helpful starting point but I could also take a stab at one of them first and make some notes.

[2020-03-17 02:22] bpbond commented on #362
I'll take care of this.

[2020-03-17 09:50] bpbond commented on #362
To clarify, I just mean I'll get her added to JGCCRI/hector.

[2020-03-17 10:30] kdorheim commented on #362
Ahhhh thank you! Sorry about that I was confused.

Sent from my iPhone

On Mar 17, 2020, at 5:50 AM, Ben Bond-Lamberty <notifications@github.com> wrote:

﻿

To clarify, I just mean I'll get her added to JGCCRI/hector.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://protect2.fireeye.com/v1/url?k=83efed0b-df5ad3c4-83efc71e-0cc47adc5e60-544

[2020-03-18 13:41] kdorheim commented on #362
@dawnlwoodard could you add the list of variables you'd like to have exposed?

[2020-03-18 14:42] dawnlwoodard commented on #362
I'm trying to get at all the net carbon fluxes. So the ones that don't seem to be available are NBP and ATM_OCEAN_FLUX_HL and ATM_OCEAN_FLUX_LL.

[2020-03-18 14:53] cahartin commented on #362
I think these variables are not time series and so need some extra work in order to be exposed.
 @mnichol3 was working on this earlier this year.

[2020-03-18 14:58] dawnlwoodard commented on #362
Yeah @kdorheim and I were just discussing that on slack.

[2020-03-19 15:43] bpbond opened #363 "Rethinking Hector PRs"
Notes from call with @pralitp @kvcalvin @cahartin 2020-03-19

Need to resolve:

* What is the bar for PRs that need to be checked/signed off by the GCAM team?
* Use GCAM team template/criteria more
* Ben to be central point for PRs going forward given climate team shakeup; will talk with @kdorheim about her availability to help with evaluation
* Will lean on and communicate with Kate and Pralit gi

[2020-03-19 15:54] bpbond commented on #363
News announcement: @kdorheim is now a Hector admin. 🎉

[2020-03-26 14:10] kdorheim opened #364 "N2OComponent Clarifying and Documentation Question"
As part of trying to address why Hector's cool bias for RCMIP @mnichol3 has been looking into a potential issue with N2O emissions. As we have been looking into it something that I am curious/confused about is Hector's N2O component.

@cahartin @ssmithClimate @bpbond @pralitp I am hoping that you can shed some clarity on what is going on.

Based on the emissions files it looks like N2O is being re

[2020-03-26 14:27] ssmithClimate commented on #364
As far as I know the data flow is the same for all the well-mixed GHG species, which is, emissions -> concentrations, then the forcing component takes in whatever information it needs to calculate each forcing component (concentrations for well-mixed GHGs, emissions for aerosols, etc.).

[2020-03-26 15:07] kdorheim commented on #364
Notes from CH

[2020-03-26 15:28] kdorheim commented on #364
Update for some reason the output stream returned by Hector does not include `N2O_emissions` but returns `N2O` in units of concentration, this behavior is different from the methane and should be updated.

[2020-03-30 20:23] kdorheim commented on #361
@ssmithClimate that was exactly the issue!! @mnichol3 and I have resolved this issue with https://github.com/ashiklom/hector-rcmip/pull/8.

[2020-03-30 20:23] #361 closed

[2020-05-13 20:11] kdorheim opened #365 "Check X set up for C++"
Following up from our conversation on May 13 you asked if I could create an issue for you to check the X code from the C++ hector.

Also idk if you have time but may be we should put together some instructions for how to run hector using C++ without the R interface unless you don't think that is useful 🤷‍♀️

[2020-05-13 20:16] kdorheim opened #366 "Add systematic white space tests"
PR #353 removes the trailing white space that is added to scripts in different editing tools. @bpbond and myself think that it might be worth while to add some sort of github actions, unit tests, or something of that nature to prevent PRs with the trailing white space from being merged into Hector.

Something we discussed was using https://github.com/jimhester/lintr to create a github actions issu

[2020-05-13 20:21] kdorheim opened #367 "Table of Hector R parameters and outputs."
This is related to PR #346 and how we want handle the ability to fetch all of the output variables. @bpbond and I thought it might be worth having a clear table of Hector outputs, the strings R hector will recognize, a description, and the units.

Brain storming but could we save this table online? wiki or some other documentation then have a function that scrapes that info into a table for R? Do

[2020-05-13 20:24] kdorheim opened #368 "Code breaking changes"
@bpbond and I would like code breaking PRs changes to be reserved for the PRs associated with a larger  version change of Hector (moving from a v2  -> v3) for example. I've opened this issue to keep track of some of the PRs we hav/will merge that have follow on items to be addressed during the larger version changes.

[2020-05-13 20:27] kdorheim commented on #368
- [ ] #358 will contain two ini files for the RCP 6.0 scenario to prevent code breaking changes but when we transition to a new version of hector (v2.5 or v3) the ini file for RCP6 should be removed.

[2020-05-14 15:43] #357 closed

[2020-05-20 16:07] kdorheim opened #369 "Question: Does Hector back calculate emissions from concentrations?"
This came up during a conversation with @ssmithClimate

[code]

Does Hector also have this capability? If so where is it documented? If Hector does not have this capability do we want to develop it?

[2020-05-20 17:32] bpbond commented on #369
No, Hector can't constrain to an F-gas total right now.

This strikes me as a pretty esoteric/specific need, but then again I don't work in this area.

[2020-05-20 17:35] kdorheim commented on #369
But if you constrain CO2 concentrations does Hector calculate the emissions that would get you to those concentrations?

[2020-05-20 17:39] bpbond commented on #369
No. Everything proceeds normally within a tilmestep, but the difference between the computed [CO2] and [CO2constrain] is dumped into the deep ocean.

[2020-05-20 17:44] ssmithClimate commented on #369
Just to be complete, I thought hector could run historically with proscribed concentrations of CH4, N2O, etc? Or is it only emissions?

[2020-05-20 17:45] cahartin commented on #369
@ssmithClimate we spoke about doing that a while back but never implemented it.   The MIT group has this capability and it came up a lot in discussion with them when were working together.

[2020-05-20 17:47] bpbond commented on #369
Emission constraints are always available, as they're inputs. Re concentrations, we can constrain to [CO2], total radiative forcing, and global mean temperature.

[2020-05-20 18:37] kdorheim commented on #369
With the current version of Hector you should be able to run Hector with prescribed concentrations of some non-CO2 ghgs.

[2020-05-21 09:48] bpbond opened #371 "Travis script doesn't error if Hector executable is not found"
[code]

[2020-05-21 09:56] bpbond opened #372 "Caller is requesting unknown variable: hc_concentration"
Something goofy has developed in the Hector command-line build; maybe it's a code problem, maybe it's an instructions problem, but either way it's a problem. I'm concerned that with all the focus on the R package over the last 1-2 years we've neglected the core (command line) configuration.

We need to figure out what's going on.

[2020-05-22 13:01] bpbond commented on #367
It would be great if this could be auto-generated from Hector itself.

[2020-05-22 13:39] bpbond opened #374 "Tracer pool"
@dawnlwoodard and I had a cool idea: a tracer pool data type that would let us arbitrarily track where C (say) goes in the model. For example, we might want to know where all the SOC emitted over a run ends up.

This would be so cool!

It seems like it would require a tracked-pool class to handle things under the hood, so that Hector components could just mostly multiply, add, compute fluxes, etc.

[2020-05-22 13:40] bpbond commented on #374
Also we don't think any other simple climate model has anything like this?!?

[2020-05-22 13:42] ssmithClimate commented on #374
If anyone does it would be the Bern model. (probably not the simplified version though).

[2020-05-22 13:51] kdorheim commented on #374
That's an awesome idea!

[2020-05-22 14:02] bpbond commented on #374
It would be nontrivial to implement, but we were like, wow would open the door to some super cool analyses.

[2020-05-22 14:03] kdorheim commented on #367
Agreed that would be ideal. Just brain storming here but do you think we could set up some data-raw script (something like the dsr generate package data) to parse that information out from `src/rcpp_constants.cpp` or `inst/include/component_data.hpp` to determine the variable name, and units? (we may have to reorganize those scripts or add some sort of useful documentation tag to make scraping the

[2020-05-22 14:04] bpbond commented on #367
One way or another, an automated scraping (external to Hector) or generation (internal) capability sure seems like the way to go.

[2020-05-22 14:07] kdorheim commented on #367
What do you mean by internal vs external?

Would internal be like a function that users interact with to generate the table like https://github.com/FoRTExperiment/ed4forte/blob/master/R/ed2-variables.R while external would be https://github.com/JGCRI/gcamdata/blob/master/data-raw/generate_package_data.R?

[2020-05-22 14:08] bpbond commented on #367
Yep, that's what I mean.

[2020-05-22 14:10] kdorheim commented on #374
something kinda like this?

https://twitter.com/RARohde/status/1131224334402555905

[2020-05-22 14:15] kdorheim commented on #367
👍 Personally I tend to prefer the external data method, because it is one less function that can break for users but the internal method would probably be a smaller commit to the repo. 🤷‍♀️ I am not to well versed in the pros and cons of generating tables of information using internal vs external methods.

[2020-05-22 15:26] dawnlwoodard commented on #374
@kdorheim yes! Though of course with the ability to trace every pool, not just fossil fuels. Which means we would want to treat fossil fuel emissions like a carbon pool in terms of this capability.

[2020-05-22 16:50] rgieseke commented on #367
Pyhector does some parsing of `component_names.hpp` and `component_data.hpp`

https://github.com/openclimatedata/pyhector/blob/master/scripts/write_constants_py.sh

Output:
https://github.com/openclimatedata/pyhector/blob/master/pyhector/constants.py

[2020-05-23 02:00] bpbond commented on #374
Long drive today and I had a chance to think this through. I think actually it'll be straightforward to implement for the carbon cycle.

Basically a `tracked_pf` (tracked pool/flux) will take the place of `unitval` for the carbon cycle elements. Each `tracked_pf` is a map of origin names (key) and unitvals (values), with the keys giving the ultimate origin of the 'package' of carbon. A subtraction

[2020-05-23 09:31] rgieseke commented on #372
This one seems to introduce the error: af1c8023290f2e7d8496f74b60d7297ed11e4eb4

Or the previous WIP one (which doesn't compile): 6e0527dd20b32acfafc1dceaf34ca65f9897d813

[2020-05-23 10:26] rgieseke commented on #372
Adding back this fixes this: https://github.com/JGCRI/hector/commit/af1c8023290f2e7d8496f74b60d7297ed11e4eb4#diff-44737671487fd4ba4d4f8b817b217f20L213

[code]
But then i get a problem with the ocean component:
[code]

[2020-05-26 14:09] bpbond commented on #372
Thanks @rgieseke . I'm going to make some time later this week to get back to this and dive in.

[2020-05-26 16:03] bpbond commented on #372
Tagging @mensbrugghe so he can follow

[2020-06-08 19:20] kdorheim commented on #197
This issue has been resolved.

[2020-06-08 19:20] #197 closed

[2020-06-08 19:23] kdorheim commented on #369
The answer is no, Hector does not have this capability.

[2020-06-08 19:30] kdorheim commented on #359
I think that we can close out this issue if we add some more inline text to `ocean_componet.cpp` explaining that the reference preindustrial temp is 288 K and some source.

[2020-06-08 19:33] #351 closed

[2020-06-08 19:37] kdorheim commented on #339
Instead of incorporating this into Hector we are developing a data package to keep the size of the Hector repo fairly small. See https://github.com/jgcri/hectordata for more information. Once `hectordata` is up and running there will need to be some documentation that links the two together,  see https://github.com/JGCRI/hectordata/issues/10.

[2020-06-08 19:37] #339 closed

[2020-06-08 19:38] #348 closed

[2020-06-08 19:53] kdorheim commented on #343
This seems to be a two fold issue

1. Bug, why is Hector RF OC so high?
2. Enchantment: make is so that the base RF is something that can be adjusted

[2020-06-08 20:42] kdorheim commented on #332
Was this replaced by DOEClim? Awesome that this is a window into Hector's first soul but even if we remove it shouldn't we be able to revisit it via version control? 🤔

[2020-06-08 20:45] bpbond commented on #332
Yes, we should be able to. It was replaced by Corinne's ocean compartment model.

[2020-06-08 20:52] kdorheim commented on #325
Hi @mnichol3, @bpbond  and I are going through and trying to organize/triage all the open Hector issues. It looks like you were assigned to work on this and we are curious how much/if any progress was made on this? Thanks!

[2020-06-08 20:54] #323 closed

[2020-06-08 20:57] ssmithClimate commented on #325
@ouyang363 has also been looking at F-gases in hector and GCAM and may have some thoughts.

[2020-06-08 21:02] #203 closed

[2020-06-08 21:08] kdorheim commented on #59
This issue was opened quite a while ago the first thing we should do is follow up to see if anyone has implemented it already.

[2020-06-08 21:10] kdorheim commented on #53
This falls into the category of it might have already been done 🤷

[2020-06-08 21:12] kdorheim commented on #22
Slightly cryptic @bpbond is this still a problem? If not let's close this issue 👍

[2020-06-08 21:14] kdorheim commented on #19
Should follow up to see if this issue is still relevant, I suspect that @ashiklom might have already implemented this.

[2020-06-08 21:15] kdorheim commented on #12
@bpbond is this issue still relevant?

[2020-06-08 21:17] ssmithClimate opened #375 "Remove hard-coded forcing calibrations"
Most forcings are hard coded (e.g., forcing per unit BC). These are uncertain, and get updated over time, so it would be useful to make these parameters that can be set via API and configuration files.

Relevant to issue [#343](https://github.com/JGCRI/hector/issues/343).

[2020-06-08 21:21] kdorheim opened #376 "Add Hector tag version documenation"
What is out protocol for tagging Hector version? How does that work? It is some combination of zenodo and github. Can we add some documentation about it so that it is clear to developers what needs to be done and to users what is going on?

[2020-06-08 21:25] ssmithClimate opened #377 "Additional forcings"
Hector is missing a few small forcing components that could be considered for inclusion.

1) Forcing from stratospheric O3. (This offsets a small amount of the positive forcing from ozone depleting substances such as CFCs.) AR5 values: –0.05 (–0.15 to +0.05) W/m2. (1750-2011).

2) Forcing from dust and nitrate aerosols. AR5: –0.10 (–0.30 to +0.10) and –0.11 (–0.30 to –0.03), respectively.

3) Comb

[2020-06-08 21:28] ssmithClimate opened #378 "Clarify forcing names."
It would be useful to consider re-naming a couple of the forcing variables to be more descriptive and not ambiguous.

Suggest: H2O -> StratH2O and O3 -> TropO3.

(Since H2O changes in the troposphere is a feedback and, therefore, included in the climate sensitivity. And stratospheric and tropospheric O3 forcings are generally treated separately as they have different drivers and time paths.)

[2020-06-08 22:06] ashiklom commented on #19
Yes, still relevant, I think. The current multi-biome approach is a hack all the biomes are aggregated, then the differential equations are solved, and then the resulting global fluxes are disaggregated (IIRC according to global NPP + RH share? Or maybe biomass?). It's a reasonable hack that probably comes close to the more formal approach (where the biome-specific differential equations are solve

[2020-06-09 11:12] bpbond commented on #59
No, this remains unaddressed.

[2020-06-09 11:13] bpbond commented on #53
Nope. We discussed this as an option for @skygering 's summer SULI work but ultimately decided not.

[2020-06-09 11:15] bpbond commented on #22
It is still a problem, more strictly a characteristic of Hector, but maybe doesn't deserve its own issue, especially given #53 .

[2020-06-09 11:15] #22 closed

[2020-06-09 11:15] bpbond commented on #12
Five years later and I haven't heard anyone complain about this, so let's say no.

[2020-06-09 11:15] #12 closed

[2020-06-09 11:20] bpbond commented on #376
This is handled through my Zenodo account; a DOI is automatically minted for every GitHub release. The process is described [here](https://guides.github.com/activities/citable-code/).

![Screen Shot 2020-06-09 at 7 17 40 AM](https://user-images.githubusercontent.com/1956468/84141551-59798400-aa21-11ea-93f6-63e7bde9fa24.png)

We could add a Zenodo badge to the README as described in the last step o

[2020-06-09 11:21] bpbond commented on #19
More generally, the whole solver interface with simpleNbox needs to be tackled at some point. Right now the ocean model is linked through there...it's kludgey and ugly.

[2020-06-09 14:43] kdorheim commented on #376
Yea I think that would be great! I thought that the release page had disappeared and was very confused! It just moved location on the github page 😬. As for updating the tag, is that something we do every time a hectorPR is merged?

[2020-06-09 16:13] cahartin commented on #369
@kdorheim With the new R interface Hector has this capability.
https://jgcri.github.io/hector/articles/hector_apply.html

[2020-06-09 16:18] cahartin commented on #375
We would need to be careful with how these interact with the aerosol scaling parameter.  That parameter changes the relative radiative forcing efficiencies of BC, OC and SO2.

[2020-06-09 16:45] kdorheim opened #380 "Remove dplyr/tidyr dependencies"
To avoid the we have seen with other packages remove the tidyverse dependencies from hector. It looks like there are only a few in the the testing.
@bpbond do we want to opt for the add data.table dependency instead?

[2020-06-09 16:46] bpbond commented on #376
No, we explicitly create tags and releases.

[2020-06-09 16:50] bpbond commented on #380
My first question would be: do we need a dependency at all? Can we just use base R functions?

[2020-06-09 16:51] kdorheim commented on #376
👍

[2020-06-09 16:52] kdorheim commented on #380
Probably... I will look into it, that would be my preference as well.

[2020-06-09 17:21] kdorheim commented on #369
@cahartin interesting does c++ hector not have this capability?

[2020-06-09 17:22] bpbond commented on #369
Nope

[2020-06-09 18:05] kdorheim commented on #369
Okay so we should highlight that this is a feature of R hector but not for users running the C++ executable. We should also have someone test which concentrations/emissions this works with. It would be nice if it was all of them  but part of me suspects that it might just be co2

[2020-06-11 14:44] bpbond opened #381 "Package code tests need to test with suppresslogging = FALSE"
See #372

[2020-06-11 14:45] bpbond commented on #372
Yes this is happening in very first year of spinup, when the `csvOutputStreamVisitor` attempts to get the value for "CF4_halocarbon".

As @rgieseke correctly points out above, the code to handle this data request was accidentally deleted in 6e0527d.

**Why didn't the automated testing immediately see this error?**
1. For command-line Hector, there was a mistake in the command-line test script and

[2020-06-11 15:07] bpbond commented on #372
After fixing this there's a second problem being exposed:

[code]

On first inspection this relates to ab5537c by @ashiklom . It looks like the same thing happened: a commit that worked for the R version, but not the command line version. More in a bit.

And a third. I haven't checked but presumably from same commit(s).
[code]

For each of these cases, I'm changing the logic so that if no date is

[2020-06-11 15:23] #371 closed

[2020-06-11 15:25] bpbond commented on #381
To clarify - need to test with logging BOTH on and off.

[2020-06-11 15:32] bpbond commented on #381
As part of this we need to add a GitHub action to test automatically test the R package! Why isn't this happening already?

[2020-06-11 19:56] bpbond commented on #369
@cahartin Thanks for the clarification. In that sense, C++ Hector 'has' it too, in the sense you can run it lots of times until your emissions produce the concentrations you want. The R package certainly makes this easy though.

@kdorheim No this method (in the link Corinne provides) applies to any input/output optimization you want to do.

[2020-06-11 20:36] bpbond opened #383 "Command-line Hector reading and to-do lists"
Here's a suggested list. Happy to chat/modify as needed.

## C++

- [x] Don't dive _too_ deep but work through [the basics of C++ syntax](http://www.cplusplus.com/doc/tutorial/)

## Hector code

- [x] Read the Hector manual's [Programming Topics](https://jgcri.github.io/hector/articles/manual/#programming-topics) section

## Building command-line Hector

- [x] Understand Bash [environment variable

[2020-06-12 00:15] cahartin commented on #369
2 thoughts:
1. Will this take into account the interaction between N2O and CH4?
2. Can the code handle a full time series and not just a 2100 target?

[2020-06-12 10:02] bpbond commented on #369
Does Hector model this? I don't know offhand. If yes, yes, if not, no.

The current example code returns "a vector of discrepancies" between Hector's output and a single target value. No reason you couldn't have a target vector as far as I can see.

[2020-06-12 11:55] #365 closed

[2020-06-12 11:55] #372 closed

[2020-06-12 11:55] #381 closed

[2020-06-12 14:37] ssmithClimate commented on #369
The N2O - CH4 interaction is forcing, so if its a concentration constraint then it won't matter. If you do a forcing constraint, it would be taken into account if you pass into hector the appropriate emissions path for the other gas.

[2020-06-15 00:50] bpbond opened #384 "M_PI not defined when using MinGW C++ compiler"
@mensbrugghe notes:

#ifndef M_PI
    #define M_PI 3.14159265358979323846
#endif

Lines 16-18 in `temperature_component.hpp` are
[code]

...but it seems like these are in the wrong order? Various posts online, in particular see the definition posted [here](http://www.cplusplus.com/forum/general/102410/), say that you have to first define `_USE_MATH_DEFINES` and _then_ include `cmath`.

@mensbruggh

[2020-06-15 16:30] bpbond commented on #384
[code]

Hmm. Microsoft’s own documentation (https://docs.microsoft.com/en-us/cpp/c-runtime-library/math-constants?redirectedfrom=MSDN&view=vs-2019) says that

[code]
Should do the trick...but if it’s not, OK, we’ll just check for M_PI being undefined and define if needed.

[2020-06-15 19:43] bpbond commented on #374
Still noodling about this, after talking with @dawnlwoodard today.

The subtraction operation above worries me. I don't think you should be able to subtract a `tracked_pf` from another `tracked_pf`, only subtract a `unitval`. It's potentially too confusing otherwise? Hmm.

In addition to this, we'd have a new output visitor, `trackedCarbonOutputVisitor`. This would write the current state of the c

[2020-06-16 18:13] kdorheim commented on #383
Environment variables in the Hector makefile, well looking in `hector/src/makefile.standalone` it looks like there are number of environment variables related to compiling Hector  and please correct me if I am wrong but it looks like a number of them are wrapped up into `CXXFLAGS` and `OPTFLAGS`. There are also a number of variables related to the version of BOOST being used. Is that what you are

[2020-06-17 11:11] bpbond commented on #383
@kdorheim Yes true, inside the script they're wrapped up in `CXXFLAGS` and `OPTFLAGS` and then exported. But the script takes a couple from outside, in particular (as you note) `BOOSTROOT` and `BOOSTLIBS`. (These same environmental variables are also used in the Xcode settings.) These are the ones I was really thinking of, because they have to be defined first--as we can see in the .`travis.yml`:

[2020-06-17 12:47] kdorheim commented on #383
So with Xcode these would also have to be set defined elsewhere? It wouldn't work to install and build the boost libs in the `hector/src` directory?

[2020-06-17 12:59] bpbond commented on #383
Right, currently they have to be defined in your `.bash_profile` for example.

[2020-06-18 01:17] kdorheim opened #386 "PR documentation: Remove dplyr dependency"
**Description**

This is a minor PR to address #380, remove the dply/tidyr dependencies to prevent package updates from breaking Hector. This will not touch the C++ code and may impact the R unit tests and vignettes. Hector outputs will not be impacted by these changes.

(Trying out this new PR documentation thing 🤷 )

[2020-06-18 10:59] #380 closed

[2020-06-18 12:15] #386 closed

[2020-06-28 11:45] bpbond commented on #383
Thanks @rgieseke ! We really appreciate your sustained interest and contributions.

[2020-06-29 14:29] bpbond commented on #374
While talking with @dawnlwoodard and MH and CT today about this, I realized we'll want to attach a date to every C 'packet' in a `tracked_pf`, giving the date when it left its original pool. And/or the ability to tell tracked pf's to start tracking, as we might be interested in tracking C only after a certain date.

[2020-08-04 18:13] hdrake commented on #331
Hi all, just stumbled upon this Issue and hector and wanted to mention https://github.com/hdrake/ClimateMARGO.jl, which is a super idealized Integrated Assessment Model in Julia (web-app pending).

[2020-08-05 00:28] bpbond commented on #331
Thanks very much @hdrake . Welcome MARGO!

[2020-08-18 00:41] skygering opened #390 "Land-ocean warming ratio calculating Tgav in DOECLIM"
**Describe the bug**
I have a pull request in to introduce a tunable land-ocean warming ratio parameter into Hector. In my code, the new parameter is used to overwrite the land, ocean air, and sea surface temperature values. However, it does not overwrite the sea surface temperature and land temperature vectors that are used to calculate global temperature within the DOECLIM portion of `temperatur

[2020-08-24 16:37] bpbond opened #391 "DOECLIM revisit and rework"
Related to #390

The DOECLIM-derived code in `temperature_component.cpp` has a lot of code for inverting matrices, computing analytical solutions to integrals, etc. I bet a whole crapload of this could be replaced by calls to corresponding [Boost routines](https://www.boost.org/doc/libs/1_64_0/libs/qvm/doc/inverse_mat_.html).

[2020-09-03 13:33] bpbond commented on #191
Tagging @dawnlwoodard for awareness of this issue.

[2020-09-08 19:56] cahartin opened #392 "Clarification on units"
I want to double check the units on N2O and SO2 emissions in the Hector input files.
The units for N2O are MtN2O-N/yr
The units for SO2 are Gg/yr

Is N2O Mt of N?
and is SO2 Gg of SO2 or S?

Thanks!

[2020-09-08 20:04] bpbond commented on #392
Yes, megatons of N; Gg of SO2.

[2020-09-08 20:04] #392 closed

[2020-09-09 13:40] cahartin commented on #392
Thanks @bpbond!  I'm still wondering about SO2.

Below are the first few rows from the Hector emissions file.  It looks like the SO2_emissions column was converted from SOx MtS/yr to GgS/year by multiplying by 1000.   However, the units label is just Gg/yr.

  |  
-- | --
  |  
MtS/yr | Gg/yr
SOx | SO2_emissions
0 | 0
0.098883 | 98.88265
0.116307 | 116.3065
0.133811 | 133.8108
0.151398 | 151.3979

[2020-09-09 13:48] ssmithClimate commented on #392
What years are those emissions for?

[2020-09-09 13:50] ssmithClimate commented on #392
In 2010 global anthropogenic SO2 emissions were 106 Mt SO2.

[2020-09-09 14:07] cahartin commented on #392
that's just the first few years of the emissions file -

Date
--
1765
1766
1767
1768
1769

[2020-09-09 19:05] kdorheim commented on #360
RCMIP was interested in `Surface Air Ocean Blended Temperature Change` aka GMST instead of GSAT.

Talking with @ssmithClimate this is something we should be able to calculate from Hector output. Here are some notes from a slack conversation about it.

[code]

[2020-09-09 19:10] kdorheim commented on #360
Things to Think About
1.  Does GMST and GSAT actually diverge in the simple climate models?
2. If GMST is different. Should we calibrate this variable with observations instead of (talk to @claudiatebaldi)
3. If GMST is going to be an output used in the calibration process should it be written out as an output instead of something that can be back calculated from Hector output?

[2020-09-09 20:04] #335 closed

[2020-09-09 20:04] #384 closed

[2020-09-09 20:53] kdorheim commented on #343
@ssmithClimate started tackling this issue in https://github.com/JGCRI/hector/tree/bcoc_forcing as of today (September 2020) this branch does not completely resolve the issue but will be extremely helpful when we revisit this issue.

[2020-09-09 23:18] kdorheim commented on #360
So it looks like there is a small difference between the GMST and GAST, at most it is a difference of 0.03 degrees in the year 2100.

![image](https://user-images.githubusercontent.com/27299759/92663809-4e5c1b80-f2d0-11ea-9f2b-d7294005a57d.png)

[code]

[2020-09-10 13:33] claudiatebaldi commented on #360
Is there a way to figure out a priori if the two should be identical or not?

A 0.03 difference in year 2100 (under which scenario?) seems difficult to take seriously but I think we should be able to know if there is any reason for there to be a difference.

From: "Kalyn R. Dorheim" <notifications@github.com>
Reply-To: JGCRI/hector <reply@reply.github.com>
Date: Wednesday, September 9, 2020 at 7:1

[2020-09-10 13:39] ssmithClimate commented on #360
This seems surprisingly small. Ocean surface vs ocean air temperatures differ in hector by 30% (bsi = 1.3). So I would expect to see the absolute value of the two differ by something of that magnitude (a bit smaller since land surface temperature is the same in both cases).

[2020-09-10 13:41] kdorheim commented on #360
It is a difference in SSP370 (I've added that information to the post). Hmmm @claudiatebaldi I that we need a better understanding of Hector's ocean component to understand why these two time series are different and if they should be in Hector. This being said now I am conflicted about submitting the blended temperature results to RCMIP II. On one hand it would be helpful to see how Hector result

[2020-09-10 13:47] claudiatebaldi commented on #360
From what Steve says it should be straightforward to look at a time series of ocean surface temperatures and compare it to the ocean-only TAS and see if they are different. Or am I missing something?

From: "Kalyn R. Dorheim" <notifications@github.com>
Reply-To: JGCRI/hector <reply@reply.github.com>
Date: Thursday, September 10, 2020 at 9:42 AM
To: JGCRI/hector <hector@noreply.github.com>
Cc: "Teb

[2020-09-10 13:52] ssmithClimate commented on #360
Interesting.  Even in the historical period I was expecting the difference should be larger. If historical temperature change is 0.6, then 30% of that is 0.18, which is much larger than the difference in the graph.

By 2100 if the overall scale of temperature change is 3 degrees, then ocean air vs ocean surface temperature should be different by almost a degree. Averaged with land I was thinking t

[2020-09-10 14:04] kdorheim commented on #360
Hector does not report out a time series of the SST but here is a plot comparing the GMST back calculated, the Tgav and the Tgav ocean air

![image](https://user-images.githubusercontent.com/27299759/92741799-fd3e3d00-f34c-11ea-8711-8a80f2abcdf0.png)

[2020-09-10 14:17] claudiatebaldi commented on #360
What is Tgav and Tgav_ocean_air?

And by the way, the expectation is that GSAT > GMST in the future. So @ssmith<https://jgcri.slack.com/team/U1EH4JKK3> when you say ocean T and ocean air T differ by 30% which one is bigger?

Also, @kdorheim<https://jgcri.slack.com/team/U4XNX82AH>, looking at your first plot (aside from the order that is opposite to what is expected) the gap between the two time se

[2020-09-10 14:22] kdorheim commented on #360
@claudiatebaldi you are correct 🤦‍♀️ I was reporting MSE, the max difference between the GMST and GAST is `0.1725936`.

[2020-09-10 15:17] ssmithClimate commented on #360
@claudiatebaldi
temp_oceanair = bsi * temp_sst[tstep];
(bsi = 1.3 in hector now)
So ocean air temperature change is larger than sea surface temperature change

[2020-09-10 15:25] claudiatebaldi commented on #360
So the first plot does not make sense, correct?

From: Steve Smith <notifications@github.com>
Reply-To: JGCRI/hector <reply@reply.github.com>
Date: Thursday, September 10, 2020 at 11:24 AM
To: JGCRI/hector <hector@noreply.github.com>
Cc: "Tebaldi, Claudia" <claudia.tebaldi@pnnl.gov>, Mention <mention@noreply.github.com>
Subject: Re: [JGCRI/hector] Global Mean Temp (GSAT or GMST) (#360)

@claudiate

[2020-09-15 19:20] kdorheim commented on #360
@claudiatebaldi @ssmithClimate @bpbond please take a look at https://rpubs.com/kdorheim/661078, as @claudiatebaldi pointed out the earlier plots do not make sense, now I believe they do. The plots from last week were incorrect, a product of sloppy/rushed work, my apologies.

[2020-09-15 19:26] claudiatebaldi commented on #360
That’s good, nice work.
I don’t know if and how hector would account for this but it is expected that the difference becomes larger the larger the warming, having to do with the melting of sea ice with larger warming.

From: "Kalyn R. Dorheim" <notifications@github.com>
Reply-To: JGCRI/hector <reply@reply.github.com>
Date: Tuesday, September 15, 2020 at 3:21 PM
To: JGCRI/hector <hector@noreply.git

[2020-09-15 19:27] ssmithClimate commented on #360
Cool! I'm thinking what is happening is that when there is a bit volcanic cooling, the land/ocean temperature difference reverses, which acts to "reset" the GMAT/GMST difference as the difference is temporarily in the opposite direction. Then since Pinatubo there's been no net cooling so the difference then just accumulates. And is larger overall because absolute magnitudes are larger.

[2020-09-15 19:28] ssmithClimate commented on #360
We could think about parameterizing surface Albedo as a function of warming to account for melting ice and changing snow cover, but at present I'm pretty sure its constant.

[2020-09-15 19:30] claudiatebaldi commented on #360
What I want to understand is where the bsi comes from. I thougt bsi was the land/ocean ratio, while here it is used to go from sst to ocean air temperature…so I need to sit on this a bit longer to understand of we are baking in the result or what.

From: Steve Smith <notifications@github.com>
Reply-To: JGCRI/hector <reply@reply.github.com>
Date: Tuesday, September 15, 2020 at 3:28 PM
To: JGCRI/hec

[2020-09-15 19:36] ssmithClimate commented on #360
From doeclim in the hector code:
   const double bsi = 1.3;               // warming factor for marine surface air over SST (due to retreating sea ice)
(In: temperature_component.hpp)
(That's the explanation given, but there's no mechanism there. Its just a constant that represents how much ocean air temperature warms relative to sea surface temperature.)

(Then, for completeness, there's a second

[2020-09-15 19:40] claudiatebaldi commented on #360
Ok, so it is a baked in result, and it does somehow represent retreating sea ice. So for RCMIP purposes it will be important to let them know this is hardwired, nothing to learn here.

From: Steve Smith <notifications@github.com>
Reply-To: JGCRI/hector <reply@reply.github.com>
Date: Tuesday, September 15, 2020 at 3:38 PM
To: JGCRI/hector <hector@noreply.github.com>
Cc: "Tebaldi, Claudia" <claudia.

[2020-10-22 18:05] rgieseke opened #396 "Hector RCMIP Phase 1 citation"
We need a citation with creators and title for the Code repo (https://github.com/ashiklom/hector/releases/tag/rcmip-phase-1) for the final version of the RCMIP paper (cc @znicholls)

I'm a bit confused by the different versions (R package/C++ code), `citation` didn't really help me.
Could you provide me with what should be used @ashiklom or @kdorheim ?
Also not sure whether the version used is on

[2020-10-23 01:12] bpbond commented on #396
Hi @rgieseke . I think the fundamental thing being cited is Hector, not its R package, and so while [Hartin et al. 2015](http://www.geosci-model-dev.net/8/939/2015/) is increasingly out of date, it's probably the best option. @kdorheim is the RCMIP version tagged so that the citation can be more specific?

But @kdorheim @dawnlwoodard we really need to get something newer published in 2021!

[2020-10-23 07:20] rgieseke commented on #396
Sorry, if i have been unclear. GMD wants a citation for the model code itself (currently it's just a link to the GitHub repo). The model description papers are cuted.

When there is a Zenodo archive, there is a list of contributors used by default.

https://zenodo.org/record/3144007

[code]

But since you define authors etc. in your metadata i assume you might have a preference whom to have as aut

[2020-10-23 11:58] kdorheim commented on #396
Hi @bpbond and @rgieseke, @ashiklom is working on creating a zendo release for the version of Hector that was used in RCMIP I 👍

[2020-10-23 13:12] kdorheim commented on #396
@rgieseke here is the citation and see below for the bib text, please let us know if you need anything else.

Robert Link, Alexey Shiklomanov, Ben Bond-Lamberty, Corinne Hartin, bvegawe, Pralit Patel, … Cary Lynch. (2020, October 23). ashiklom/hector: RCMIP Phase 1 (Version rcmip-phase-1). Zenodo. http://doi.org/10.5281/zenodo.4121543

citation information in bib text format
[code]

[2020-10-23 15:18] rgieseke commented on #396
Perfect, thanks a lot!

[2020-10-23 15:18] #396 closed

[2020-11-10 18:43] kdorheim commented on #366
Another idea would be to add some sort of unit test or CI that can check for spelling, a starting point could be with https://docs.ropensci.org/spelling/

[2020-11-10 18:45] bpbond commented on #366
I feel like the false positives would kill us here, but good to consider! Thanks.

[2020-11-10 18:49] kdorheim commented on #366
Haha yes and the package is set up to prevent the false positives with a word list and it only works on markdown text.

[2020-12-03 02:03] bpbond commented on #374
https://github.com/skygering/carbonTrackerClass

[2020-12-03 02:06] bpbond commented on #366
Also the R package code could _easily_ be checked for style consistency; example GitHub Actions file [here](https://github.com/ropensci/drake/blob/main/.github/workflows/lint.yaml).

[2020-12-03 16:52] ssmithClimate commented on #366
I'm interested to see what you find works out for white space checking, would be useful for CEDS as well.

Have you also dealt with line ending consistency? I just found this:
https://docs.github.com/en/free-pro-team@latest/github/using-git/configuring-git-to-handle-line-endings

[2020-12-03 17:19] bpbond commented on #366
Isn't CEDS in R @ssmithClimate ? If yes see my link in previous message, which shows how the `drake` package uses the `lintr` to enforce consistent style on all PRs. You can have one of the `lintr` tests be extraneous white space I believe, so that if any is present, the PR check will fail.

[2020-12-03 17:37] ssmithClimate commented on #366
Thanks @bpbond. Yes its in R, and we would also want to enforce this in .csv files as well.

[2020-12-09 11:22] bpbond commented on #102
This being handled by @dawnlwoodard 's `hectoreval` package.

[2020-12-09 11:22] #102 closed

[2020-12-09 11:26] #338 closed

[2020-12-09 20:37] payerle opened #403 "build issue: typo in makefile.standalone re LDFLAGS and linker arguments"
**Describe the bug**
There is a typo in the makefile.standalone file.  It has
``-Wl,-rpath $(BOOSTLIB)``
which is incorrect (missing the comma between rpath and $(BOOSTLIB))
As it currently stands, it causes the compiler to pass an empty -rpath flag to the linker, and the following $(BOOSTLIB) is passed as an argument to the compiler.

It should either be
``-Wl,-rpath,$(BOOSTLIB)``
(with a comma b

[2020-12-10 11:32] bpbond commented on #403
Hi @payerle—good catch, thank you!

@kdorheim I don't understand why tests were passing.  It looks like that space got introduced in ffb523a. Will open an issue.

[2020-12-10 11:33] bpbond opened #405 "Command-line testing check - linker"
Why were tests passing with a bug in the linker flags part of the makefile (see #403 )? Was `makefile.standalone` not being tested?

[2020-12-10 13:54] bpbond commented on #403
Thanks again. Fixed in #404 .

[2020-12-10 13:54] #403 closed

[2020-12-10 21:53] payerle opened #407 "Add ability to add extra flags to CFLAGS for standalone build"
**Is your feature request related to a problem? Please describe.**
I ran into issues attempting to build both standalone and then the R package; the R install
would fail with errors like
``
/software/spack/git.2020.05.14/lib/spack/env/gcc/g++ -std=gnu++11 -shared -L/software/spack-software/2020.05.14/linux-rhel8-ivybridge/gcc-8.4.0/r-3.6.3-g2qqhcjpelvalre5ctf4qle5j3itkclo/rlib/R/lib -L/software/sp

[2020-12-18 18:33] bpbond commented on #374
Le plan:

* @skygering Put [map version of tracked pool](https://github.com/bpbond/carbonTrackerClass/tree/bbl) into Hector and confirm compiles
* Convert earth_c and atmosphere to tracked pools. This will require a **temporary** unitval+trackedpf operation
* New output visitor to write out tracked pool information at each timestep (probably into a csv)
* Plot results from step 2
* R interface wor

[2020-12-22 21:06] bpbond commented on #407
This seems reasonable but tagging @pralitp and @crvernon for their feedback.

[2020-12-23 13:52] bpbond opened #410 ""Hector in the wider world" wiki or documentation page?"
A note from @cahartin

My response

@kvcalvin said

[2020-12-23 14:54] pralitp commented on #407
Thanks @payerle, I think in general adding adding additional variables users can set is a fine approach.  I just wanted to clarify how and what you were trying to build to make sure the compilation error you received is not due to some sort of "bug" in our makefiles.

Was your intent to build the `R` package to load and interact with `hector` in `R`
-- In this case you would want to use `R CMD INS

[2020-12-23 17:29] payerle commented on #407
Background:
I am not an end-user of hector, but a HPC sysadmin trying to install
software for my users.  (Actually, I was trying to install gcam for one of
my users and saw that hector was a requirement, but missed the facts that
gcam wants to do its own build of a special version of hector).  We use
spack (https://spack.io) for most of our software library, an open source
project basically consis

[2020-12-23 19:33] pralitp commented on #407
Great, I think mystery solved on my end.  I was worried that it noticed you had R configured in the stand alone build and decided it wanted to use that instead of `boost_filesystem` and that was the reason for getting the `-fpic` errors.  But it sounds like that wasn't the case.

In terms of just compiling with `-fpic` for both standalone and as an R package so that it doesn't need to compile twic

[2020-12-24 15:14] crvernon commented on #407
Yes, this is good for me as well. Thank you!

[2020-12-26 12:31] bpbond commented on #407
Great—thank you all.

[2021-01-06 16:50] bpbond opened #411 "Thinking ahead to integrating hectoreval w/ Hector PRs"
https://amitlevinson.com/blog/automated-plot-with-github-actions/

FYI @dawnlwoodard

[2021-01-11 16:04] bpbond opened #412 "Incorrect comment describing Tsoil"
[code]

This isn't correct. Units are "years"; see the INI files
[code]

h/t @kdorheim

[2021-01-12 15:50] bpbond commented on #412
Looks like actually a bigger problem.

1. INI file description is unclear
2. Code gets M0 as "previous_ch4" but M0 isn't previous-year Ch4; it's preindustrial. It looks like this is in correctly coded, but we need to check the Wigley reference given in the code to be sure.

[2021-01-12 18:57] #383 closed

[2021-01-27 20:55] kdorheim opened #415 "Visual Studio Sln"
As of `bed6dab` Hector's [visual studio](https://github.com/JGCRI/hector/tree/master/project_files/VS) materials are out of date. The sln and sln libraries use the header/source code paths pre-Hector reorganization to support the R package. Because Hector C++ dev is supported with the Xcode and VSC  IDEs updating the VS sln is a low priority for the Hector development team. However, if a Hector co

[2021-01-27 21:17] kdorheim commented on #415
By

What I really mean is that we noticed on 2021-01-27 when Hector master was at `bed6dab` that this was a problem, my guess is that it has been a problem for over a year now and went undocumented until now.

[2021-02-05 18:00] cahartin opened #422 "merging historical and future emissions"
Is there an easy way to point the ini file to multiple emissions input files per gas? For example, I have a emissions files that start in 2005. Rather than writing code to match up and merge in historical and future emissions into one csv file, can Hector read in 2 emission files for each gas - a historical emissions and a future emissions file?

[2021-02-05 19:00] bpbond commented on #422
My first response was "neat idea can't do it now" but...not sure. Have you tried it? E.g. having two lines in the INI file pointing to successive files?

[2021-02-11 20:50] flannerydolan opened #426 "Unexpected halocarbon names in stay-positive branch"
**Describe the bug**
After pulling the `stay-positive` branch, GCAM failed to build, throwing:
```did you mean HCFC142b``` and ```HCFC141b``` in `hector_model.cpp`
I changed the model component names within `hector_model.cpp` and the other places those names occur (`gcam-emissions.csv`, `RCP45_emissions.csv`, `component_names.hpp`)  to the suggested names, committed the changes, rebuilt GCAM (now

[2021-02-11 21:17] bpbond commented on #426
Hi @flannerydolan

Um...well first question, why are you trying to use  `stay-positive` at all? That's a developmental branch supporting work by @skygering — super cool work, but a long way from prime time. I'd recommend not touching it, and definitely not trying to run it under GCAM! Sorry if that wasn't clear.

[2021-02-11 21:24] #426 closed

[2021-02-11 21:28] flannerydolan commented on #426
Ok I'll open a separate issue focused on the error from the bottom of the post then. Thanks!

[2021-02-12 15:29] #257 closed

[2021-02-14 20:20] #332 closed

[2021-02-18 21:50] kdorheim opened #429 "Changing FFI and LUC emissions"
**Describe the bug**
Changing the FFI and LUC emissions should cause downstream changes (Tgav and total RF should change).

Expected behavior
![image](https://user-images.githubusercontent.com/27299759/108426122-603fd400-7209-11eb-90fc-b661ed1d72f4.png)

What actually happens
![image](https://user-images.githubusercontent.com/27299759/108425284-3fc34a00-7208-11eb-8275-1a4f76682760.png)

![image](h

[2021-02-18 22:03] bpbond commented on #429
😕

[2021-02-19 15:50] kdorheim commented on #429
We should be able to use `setvars` to read in different emissions values (which it does) and then when the different emission values are used Hector should produce different total RF and Tgav values (which it does some of the times but not always).

With the branch krd_reset_co2_emissions, I expanded on the set vars test to test that when different emissions are read in it causes changes in temp a

[2021-02-19 15:51] bpbond commented on #429
Ah! Thanks @kdorheim

[2021-02-19 15:55] kdorheim commented on #429
Reading in different ini files or modifying the emissions.csv files does get a change which is 👍 so it leads me to conclude that it is a problem with the R interface treating ffi and luc emissions differently.

[2021-02-19 15:56] kdorheim commented on #429
Also, I did confirm that fetchvars works with the CO2 constraint, which is great cause that would have caused some issues for the RCMIP work, phew

[2021-02-23 19:07] kdorheim opened #430 "Here is my question"
Describe what your question add some information and so on...

[2021-02-23 19:08] #430 closed

[2021-02-24 15:58] cahartin commented on #422
I am going to try it this week. I'll keep you posted.

[2021-02-24 16:05] cahartin opened #431 "V2.5 release"
**Describe the bug**
A few papers and GCAM output mention a Hector v2.5. However, there isn't a tagged release of Hector v2.5.

**To Reproduce**
For example, Dorheim et al., 2020
"Here we use Hector v2.5.0 to emulate the multiforcing historical and RCP scenario output for 31 concentration and seven emission-driven ESMs."

[2021-02-24 16:31] rgieseke commented on #431
Should be this commit
https://github.com/JGCRI/hector/commit/84259b7356171aa170c8b68793b0e8c22256cfc2

(Would be nice to see this tagged and archived, makes it easier if i try to update Pyhector.)

[2021-02-24 16:33] kdorheim commented on #431
Related to #376 we need some standard, potentially automated way of keeping track of tags/releases.

@rgieseke please let us know what makes updating Pyhector easier 👍

[2021-02-24 17:37] cahartin commented on #422
@bpbond looks to work!! Thanks for stating the obvious!

``ffi_emissions=csv:emissions/gcam_emissions.csv
ffi_emissions=csv:emissions/gcam_v5.3_emissions.csv``

[2021-02-24 18:03] bpbond commented on #422
Oh that is COOL. I thought possible in theory but wasn't sure.

[2021-02-24 18:03] #422 closed

[2021-02-24 21:06] cahartin commented on #431
also the Hector output stream is either outdated or the comment is incorrect.
# Output from hector version 2.2.2

[2021-03-08 16:36] kdorheim opened #433 "Indiana R Hector problems / questions"
This problem came up during the Indiana R Hector Webinar and thankfully an attendee was able to troubleshoot but we should add this to the R hector installation instructions

From Paul Goddard
[code]

[2021-04-26 14:18] jmemb opened #436 "Ocean components outputs in basic run"
When following the instruction of a [basic run](https://jgcri.github.io/hector/articles/intro-to-hector.html) with original INI files and trying to obtain PH_LL() or PH_LL (test <- fetchvars(core, 2005:2100, PH_HL())), there is the error "Unknown model datum: PH_HL". There is no error when retrieving most of the other outputs, but the only ocean component output which can be obtained is OCEAN_CFLU

[2021-04-26 17:56] kdorheim commented on #378
This was closed with #432

[2021-04-26 17:56] #378 closed

[2021-04-26 18:29] kdorheim commented on #431
See [here](https://github.com/JGCRI/hector/releases/tag/rcmip-tier1) for this release.

As part of #376, #363, #194, and #183 we will address the issues related to versioning practices and version numbers reported in the output streams.

[2021-04-26 18:29] #431 closed

[2021-04-26 18:30] kdorheim commented on #183
Modify this so that there is some check or way that automatically changes the version indexing written in the output stream.

[2021-04-26 19:21] #65 closed

[2021-04-26 19:47] #13 closed

[2021-04-26 19:48] #70 closed

[2021-04-27 01:09] kdorheim commented on #436
Hi @jmemb thanks for opening this issue! I _think_ I know the cause of this problem but will need about a week to look into it. 👍

[2021-04-27 08:00] jmemb commented on #436
Sounds great! Thanks a lot @kdorheim

[2021-04-28 15:58] bpbond opened #438 "Branch-and-tag plan slide"
@kdorheim and @bpbond make a planning slide showing branches and tags, like this from E3SM?

![Screen Shot 2021-04-28 at 11 57 20 AM](https://user-images.githubusercontent.com/1956468/116434989-e9cade00-a818-11eb-91ab-b55c524a6a1f.png)

[2021-04-28 18:39] bpbond commented on #183
I suspect this is a Windows limitation? The dates definitely change on my machine.

`outputstream.csv` could certainly have a header, though.

[2021-04-28 21:01] kdorheim commented on #183
I think it does have a header, but the header only contains version information, which is ocassionally outdated.

[2021-05-03 13:22] kdorheim commented on #436
@jmemb I just wanted to check in about this issue, while it is not 100% resolved we are working on it. You can follow our progress with PR #439.

[2021-05-04 22:55] kdorheim opened #440 "Numerical differences total ocean carbon and the sum of carbon in ocean pools"
As part of #439 and the ocean unit tests (`ocecan_test.R`) we noticed that the C in the total ocean pool is not exactly equivalent to the sum of the C in the sub-pools (HL, LL, DO, IO). It is off by about 6 Pg C per timestep, this is relatively a small fraction of the C in the ocean pools.

[2021-05-05 13:21] bpbond commented on #440
...but why is it off at all? Let's definitely follow up on this. Not in #439 though.

[2021-05-06 14:59] bpbond commented on #436
Resolved by #439

[2021-05-06 14:59] #436 closed

[2021-05-06 15:12] kdorheim commented on #436
@jmemb  this issue has been resolved and merged into the master branch. If you reinstall Hector run `remotes::install_github('jgcri/hector')` you should be able to access the ocean variables now. 👍

[2021-05-07 16:39] jmemb commented on #436
Yes! It works now, thank you very much @kdorheim!

[2021-05-07 19:49] bpbond commented on #436
👏 👏 👏

[2021-06-03 16:58] cahartin commented on #360
Interesting thread!  I have few questions
1. the correct document is the rpubs one where the temperature difference is 0.4deg?
2. are these 2 metrics be included in Hector's output?
3. Hector does produce a time series of SST for the H and L latitude boxes within the ocean carbon cycle component. Do you know the results here compare?

[2021-06-08 01:45] kdorheim opened #444 "HL & LL temperature outputs as anomaly"
After the stay positive_branch is merged into master then change HL and LL temp output anomaly to be consistent with Hector's other temperature outputs. Originally we wanted to address this as part of the doeclim rework but it requires the ocean variables to be exposed, as they were in #439.

[2021-06-23 12:40] bpbond opened #446 "Manual requires updating"
In recent versions of Boost, only `filesystem` requires compilation.

[2021-06-30 20:19] kdorheim commented on #359
To recap, Hector runs with anomalies to convert to absolute one can use the value of 15C or 288.15K, this happens in the ocean component where the ocean chemistry need absolute temperature in its calculations.

@bpbond does this sound correct to you, 👌 to close this issue?

[2021-07-01 10:58] bpbond commented on #359
Yes it does, and yes OK to close! Thanks.

[2021-07-01 11:56] #359 closed

[2021-07-06 14:38] bpbond opened #450 "Deal with remaining nonfunctional testing files"
As they are fixed, remove from the Makefile exclusion list. See https://github.com/JGCRI/hector/pull/449#discussion_r664498533

[2021-07-08 22:50] bpbond opened #452 "Trying to build unit tests in GA"
My revised makefiles in #448 build Hector and hector-unit-tests locally just fine. They also build hector in GitHub Actions. But for hector-unit-tests, a no target to build error occurs.

Make 3.81 locally, 4.2.1 on GA.

[code]

It has the correct $OBJS:

To double-check if version difference is the issue, I installed GNU Make 4.3 onto my machine; everything builds fine.

[2021-07-09 00:10] bpbond commented on #452
Oh. My. God.
<img width="708" alt="Screen Shot 2021-07-08 at 8 01 27 PM" src="https://user-images.githubusercontent.com/1956468/125004907-86cfa180-e028-11eb-9c60-606bb7e3a8e5.png">

[2021-07-09 00:34] bpbond commented on #452
This was ridiculously hard to figure out. Just for the record: only a single `Testing/` subdirectory existed (appeared, even when doing `ls -a`) on my local machine, but on Ubuntu, it magically split into `testing/` and `Testing/`. 🤦

Fixed and merged in #451

[2021-07-09 00:34] #452 closed

[2021-07-09 20:04] #364 closed

[2021-07-12 15:33] kdorheim commented on #369
So the answer is no when we run Hector with concentration constraints the emissions time-series is not updated to reflect the new concentrations.

[code]

![image](https://user-images.githubusercontent.com/27299759/125315216-e36edd00-e304-11eb-818b-14e43b3c4e32.png)

[code]

[2021-07-12 15:33] kdorheim commented on #369
For other related questions please open a new issue.

[2021-07-12 15:33] #369 closed

[2021-07-12 15:39] kdorheim commented on #354
@bpbond is this on your radar? Do you know if it could pose a problem for the carbon tacking work?

[2021-07-12 16:39] bpbond commented on #354
Not at all on my radar. Thanks. No, I don't think so?

[2021-07-13 10:24] bpbond opened #454 "Leeya July work - introductory material and skills"
Good morning @leeyap

In addition to the resources @kdorheim  has given you, here’s a slide deck on data analysis in R using the ‘dplyr’ package: https://rpubs.com/bpbond/r-data-vcu. Given your programming background, and that you’ve already worked through some of the Swirl material, that might be a useful deck to go through (following along on the command line as you go).

Then, these two present

[2021-07-17 20:54] bpbond opened #456 ""Split biomes, and modify parameters" tests failing, not sure why"
Commenting out these lines in `test_biome.R` as part of #455 . They are failing, and it's not clear to me whether this is a problem or some unexpected (but correct) model behavior.

[code]

[2021-07-19 22:55] dawnlwoodard opened #459 "atmos_c and Ca equal but offset by a year"
Bug discovered by @NatanelHa (screenshot of results output and code to reproduce are below): atmospheric carbon (atmos_c) and atmospheric CO2 (Ca) outputs in Hector are equal (after unit conversion) but offset by 1 year. So, for example, the year 2000 value of atmos_c matches the year 2001 value of Ca/2.13. atmos_c seems to be the one correctly aligned with the fluxes - since the way the code is s

[2021-07-20 01:22] #327 closed

[2021-07-20 09:08] #438 closed

[2021-07-20 09:09] bpbond commented on #405
Makefiles and tests have been dramatically upgraded; I think this can be closed.

[2021-07-20 09:09] #405 closed

[2021-07-20 09:11] bpbond commented on #191
Closing with paper being published.

[2021-07-20 09:11] #191 closed

[2021-07-20 09:37] bpbond opened #461 "Solver knows about all ocean boxes - notes"
Related to #19

Notes - exposing ocean boxes to the solver (which will make tracking them easier)
[code]
We have `int  OceanComponent::calcderivs( double t, const double c[], double dcdt[] ) const {` already; change so that it fills in changes for individual boxes.

We also want `unitval ocean_atmos_flux(t, in_spinup) const {}` over in the ocean component, so `simpleNBox::calcderivs` can call that

[2021-07-20 09:43] bpbond commented on #459
Edited the comment above to tag NH.

[2021-07-20 13:36] bpbond commented on #461
I think this is the wrong way to go—see Slack discussion.

[2021-07-20 13:36] #461 closed

[2021-07-20 13:50] bpbond commented on #407
This should have been closed with the merging of #408

[2021-07-20 13:50] #407 closed

[2021-07-20 14:15] bpbond commented on #454
Hi @leeyap , here are my suggestions for next steps:

You’ve read about the Hector model; let’s dive in!
* The Hector manual is here: https://jgcri.github.io/hector/articles/manual/. Follow the instructions in the first part of the page on installing and building Hector to install its R package (don’t clone the Hector repository yet, just use devtools::install_github() to install it).
* Follow the

[2021-07-22 12:37] leeyap commented on #454
Hi @bpbond ,

I finished going through the "Basic run" and "Setting parameters" vignettes. They were both fairly straightforward, but I was confused about one thing mentioned in "Setting parameters."

I'm not sure exactly what this means by "post-spinup" or what the spinup process is in general.

Other than that, the two sections were clear and I caught no bugs.

Thanks!

[2021-07-22 13:37] bpbond commented on #454
OK! Thanks. That would be a useful clarification to make in the documentation...are you up for (i) cloning the Hector repository, (ii) creating a branch, (iii) modifying the documentation, and (iv) opening a PR? I can assist.

[2021-07-22 13:41] leeyap commented on #454
Yes, I can try! I'll let you know if I run into any issues.

First, could you help me understand the paragraph I pulled above and what the spinup process is?

[2021-07-22 13:44] bpbond commented on #454
Like many models, Hector has an initial—though optional—'spinup' mode that runs the carbon cycle _with no perturbation_ (i.e., no human emissions) until it stabilizes, i.e. the various carbon pools stop changing. In other words, it's in equilibrium. Then the model exits spinup mode, sets the year to 1750, and starts with its normal run.

[2021-07-22 15:18] ssmithClimate commented on #454
Same can be true on other models for the ocean - the ocean has a very long equilibrium timescale, so often there are techniques used to speed up the thermal and chemical equilibrium of the ocean to a pre-industrial equilibrium (I don't believe hector has to do this?).

[2021-07-22 15:20] bpbond commented on #454
Good points @ssmithClimate — thanks. No, Hector doesn't do anything like this; with only a four-box ocean, there's no need.

CESM and E3SM, two prominent earth system models, accelerate (by 10x) terrestrial decomposition during their spinup modes, which lets their land models come to equilibrium much faster. See [Thornton and Rosenbloom 2005](http://dx.doi.org/10.1016/j.ecolmodel.2005.04.008).

[2021-07-26 10:40] bpbond opened #467 "Tracking upgrades"
As I finalize #466 , some thoughts:

- [x] We'll want a tracking vignette
- [x] Remove the diff stuff in the tracking code (after checking the need for it has been addressed)
- [x] Ideally the user can use a new function `fetchtracking()` to get the tracking output data from within R
- [x] Right now the tracking output file looks like this; rethink at all?

year | pool_name | pool_value | pool_uni

[2021-07-26 10:49] bpbond opened #468 "Ocean upgrades"
After #466 two things we'll definitely want to fix before v3:

* The ocean flux constraint isn't working
* Ocean box carbon values can' t be set from the INI file

[2021-07-26 13:29] bpbond opened #469 "Returning tracking data to R"
Re

in #467 -

How would this work? It's a data frame, not a single time series. Right now the tracking visitor is printing all its data to a CSV file; could it instead (or also) be printing to a `stringbuf` that is then returned and run through `read.csv()` in R?

We'd need a new overload of `sendMessage` that returns the buffer I guess?

Thoughts @pralitp @kdorheim @dawnlwoodard ?

[2021-07-26 15:29] dawnlwoodard commented on #467
Not sure I understand the Diff. But from the column names I would expect the first couple rows might look like: c("year"=1746, "pool_name"="soil", "pool_value"=1700, "pool_units"="U_PGC", "source_name"="soil", "source_fraction"=0.4); c("year"=1746, "pool_name"="soil", "pool_value"=1700, "pool_units"="U_PGC", "source_name"="atmosphere", "source_fraction"=0.3). Is that the intention? Or can you expl

[2021-07-26 15:56] bpbond commented on #467
Sorry, that was more of a note to myself (in terms of clarity). I was just wondering:
* Are there were any other columns we would want? `component` perhaps?
* Should column names be consistent with (but not identical to) the standard csv output files (below)? Probably

[code]

[2021-07-27 14:16] bpbond commented on #454
Thinking about this week and next week:
* Additional vignette clarifications and changes as you see fit -> PR
* Carbon tracking vignette - we will go over this
* Additional documentation - go through one by one over time, reading for clarity, language, broken links, etc.
* Later (August): write R tests on the tracking capability

[2021-07-27 14:19] bpbond commented on #454
" We developed a new feature for this model: the capability to track the flow of carbon from one carbon pool (e.g., atmosphere) to another and report, at the end of a model run, the origin of the carbon within each pool. Our implementation thus records the origin pools of the carbon in every model pool, determined at the start of a run or some user-defined timepoint; if carbon tracking is enabled,

[2021-07-27 15:12] bpbond opened #470 "Resetting a core that has tracking enabled doesn't work"
Boom!

[code]

[2021-07-27 17:02] leeyap opened #471 "Manual documentation links not working"
In the [Hector manual](https://jgcri.github.io/hector/articles/manual/), clicking on the following topics gives a 404 page not found error.

[The Hector external API](https://jgcri.github.io/hector/articles/manual/Hector-External-API.html)
[Units for emissions passed into Hector](https://jgcri.github.io/hector/articles/manual/Hector-Units.html)
[Hector message targets](https://jgcri.github.io/hect

[2021-07-27 17:20] leeyap opened #472 "Manual documentation has unfinished "To Dos""
Several documents in the manual have sections labeled with "to do"

In [adding a new component](https://jgcri.github.io/hector/articles/manual/AddNewComponent.html):
- In X::run, TODO: describe
- In X::run, TODO: mention spinup flag return
- In X::shutDown, TODO: describe

(Also note that section four is not appearing online)

In [version numbering](https://jgcri.github.io/hector/articles/manual/V

[2021-07-28 21:54] bpbond opened #475 "RCP 2.6 emissions probably incorrectly split"
The RCP2.6 FFI emissions go negative in 2073:

[code]

This now causes the model crash in #474 of course, by design, so I have moved those negative values into the new DACCS uptake column. But this probably isn't right, and it would be good to fix so that emissions and uptake are correctly split throughout the time series.

Maybe @natanelha could fix from Jay's data? Or ...? Thoughts @kdorheim ?

[2021-07-29 01:12] bpbond commented on #454
@leeyap as long as you're dealing with documentation, could you fix #446 please?

[2021-07-29 13:28] bpbond commented on #469
https://www.boost.org/doc/libs/1_42_0/libs/iostreams/doc/functions/tee.html

[2021-07-29 13:36] bpbond opened #476 "Final cleanup before v3 merge (running list)"
- [x] Clean up GitHub Actions yaml files to remove development branch settings
- [x] Ensure all v3 milestone issues are linked, addressed, or reassigned to a new milestone
- [x] Search and resolve any `KRD-UPDATE` and `BBL-TODO` strings
- [x] Remove the Hector wiki as it is out dated & being replaced with the pkgdown documentation
- [x] Reformat entire C++ code base to a common style (cf. outdated

[2021-07-29 14:26] kdorheim commented on #476
@bpbond when you are referring to the GitHub Actions yaml files to remove the development branch settings are you talking about the `github_actions` branch listed in a few of the yaml files?

[2021-07-29 14:27] bpbond commented on #476
Right

[2021-07-29 14:27] bpbond commented on #476
Perhaps obvious, but I'm putting those in because do want testing on PRs against some of the dev branches, but don't want those as permanent settings.

[2021-07-29 14:28] kdorheim commented on #476
true!

[2021-07-29 16:00] kdorheim commented on #469
Hmm I would imagine that we would want similar functionality as fetchvars where we can use something similar to a `_hector_GETDATA` message. My impression is that writing to and reading in csv files is something to be avoided if possible and is a behavior that we don't support right with fetchvars... although @pralitp and @crvernon might be more knowledgable or have a different perspective

[2021-07-29 16:10] bpbond commented on #469
Agreed. My current plan is to tee (using Boost functionality above) to a streambuf, which is then returned to R via a getdata, as you say.

[2021-07-29 19:55] kdorheim commented on #238
@bpbond looks like this is could be closed by the carbon tracking dev

[2021-07-29 20:02] kdorheim commented on #117
@pralitp do you think this may be related to #415? Or is it okay to close?

[2021-07-29 20:04] bpbond commented on #238
Agreed

[2021-07-29 20:04] #238 closed

[2021-07-29 20:14] kdorheim commented on #299
The emission variables listed here are accessible with fetch vars. If there are other variables that need to be exposed please open another issue and specify which ones users would to be exposed.

[2021-07-29 20:14] #299 closed

[2021-07-29 20:15] #208 closed

[2021-07-29 20:18] kdorheim commented on #69
@bpbond this issue okay to close?

[2021-07-29 20:19] kdorheim commented on #181
@bpbond bump to v4? close? or address. with v3?

[2021-07-29 20:23] kdorheim commented on #318
@bpbond okay to close?

[2021-07-29 20:24] bpbond commented on #69
I'd prefer to leave open—this still strikes me as a really useful thing potentially.

[2021-07-29 20:25] kdorheim commented on #468
Other things on the ocean list
* global carbonate outputs #193
* high and low latitude temperature #444

[2021-07-29 20:25] bpbond commented on #181
Close! I haven't heard any demand for this.

[2021-07-29 20:25] #181 closed

[2021-07-29 20:28] kdorheim commented on #375
Will be closed with #463

[2021-07-29 20:30] kdorheim commented on #410
Could @leeyap add this to the pkgdown documentation update? @bpbond thoughts?

[2021-07-29 20:38] kdorheim commented on #239
@bpbond this might be a test to add to @dawnlwoodard hectoreval project, it will show how Hector temperature responds to the different emissions. Thoughts?

[2021-07-29 20:41] kdorheim commented on #4
@bpbond punt to v4, okay to close?

[2021-07-29 20:47] bpbond commented on #410
Absolutely I think! @leeyap ?

[2021-07-29 20:58] leeyap commented on #410
Sure thing! @kdorheim @bpbond

Could you clarify what you'd like me to add to this new page? I'll get to work on it tomorrow.

[2021-07-29 21:31] kdorheim commented on #410
We would like a page that better lists publications and the other things that feature hector. @bpbond does it look like this list is missing anything?

* hector publications
     * documentation manuscripts
          * v1 https://gmd.copernicus.org/articles/8/939/2015/
          * v1 ocean https://bg.copernicus.org/articles/13/4329/2016/bg-13-4329-2016.pdf
          * v 2.5  https://doi.org/10.102

[2021-07-29 21:44] bpbond commented on #410
Looks good to me!

[2021-07-29 21:56] bpbond commented on #4
Either punt to v4 (and tag with that milestone) or close (say we're going to ignore).

[2021-07-29 21:57] bpbond commented on #318
If it ain't broke...

[2021-07-29 21:57] #318 closed

[2021-07-29 22:13] bpbond opened #478 "R documentation warning messages"
Rebuilding the documentation produces
[code]

Boo

[2021-07-30 11:18] rgieseke commented on #410
Pyhector also had an accompanying paper it that's helpful for you to keep track of (e.g. for funders): https://doi.org/10.21105/joss.00248

[2021-07-30 12:41] bpbond opened #479 "Current C++ to R tracking mechanism doesn't respect core reset"
Fix, I think. #477

[2021-07-30 12:43] bpbond commented on #410
Thanks @rgieseke !

[2021-07-30 12:43] bpbond commented on #479
Linked to, but not the same as, #470 .

[2021-07-30 12:54] bpbond opened #480 "Leeya August work - vignette and tests"
Supersedes #454

Hello @leeyap -

What do you think, with the documentation review behind us, about tackling

?

This would involve working with the branch currently open as #477 , and making a new vignette that walks the user through
* Turning on carbon tracking for a run
* Running the core
* Retrieving the tracking data
* Graphing it

cc FYI @natanelha

[2021-07-30 13:25] #4 closed

[2021-07-30 15:20] leeyap commented on #410
Thanks everyone (@kdorheim , @rgieseke , @bpbond)!

I'll try to get a draft ready by early next week. Let me know if you think of anything else to add in the meantime.

[2021-07-30 15:21] leeyap commented on #480
Yes, sounds good @bpbond. When should I get a draft to you by? I can also share with @NatanelHa if that would be helpful.

[2021-07-30 15:30] leeyap commented on #446
Submitted PR.

[2021-07-30 17:48] bpbond commented on #480
Ok great! Timing is flexible but sometime next week? And yes I'd suggest please get Nathaniel's feedback at some stage.

[2021-07-30 18:55] bpbond commented on #446
Note in your PR message I added "Closes #446" at the bottom - when it's merged, this issue will automatically be closed.

[2021-07-30 19:52] #446 closed

[2021-07-30 20:41] leeyap commented on #480
@bpbond, could you post the code that you used to generate the time series graphs of the changing sources and any other important lines to go in the vignette? Thanks!

[2021-07-30 22:26] bpbond commented on #480
I don't have the code, but it's basically just
[code]
Typing this without looking at data, errors are almost certainly guaranteed :)

[2021-08-04 10:48] bpbond commented on #469
Resolved in #477

[2021-08-04 10:48] #469 closed

[2021-08-04 10:50] bpbond opened #483 "Dynamic cast usage"
As mentioned in #477 the core rifles through the visitor list to the csvfluxpool one, using `dynamic_cast` to check for a non-null pointer. This is tacky and should probably be reimplemented using virtual functions in the `aVisitor` class.

[2021-08-04 10:51] bpbond commented on #479
This was resolved in #477

[2021-08-04 10:51] #479 closed

[2021-08-04 11:00] bpbond opened #484 "Changing the tracking date via R"
OK, how do we handle tracking date changes in R?

Possibilities include:
* INI file only
* a dedicated `set_tracking_date()` function
* as a parameter to both the R `run()` and C++ `core::run()` - this would follow the `runtodate` logic
* as a parameter to the R `run()`, which then uses `setData()`
* via `setvar()`

If you have time, next week I would like to talk this through with you @kdorheim .

[2021-08-04 14:28] kdorheim commented on #484
👍 want to put something on our calendars?

[2021-08-04 20:06] bpbond commented on #470
Fixed in #486

[2021-08-04 20:06] #470 closed

[2021-08-04 23:43] bpbond commented on #454
I think this can be closed. @leeyap please reopen if that's not right.

[2021-08-04 23:43] #454 closed

[2021-08-10 14:02] #410 closed

[2021-08-10 14:21] bpbond commented on #480
Hello @leeyap !

The `covr` package allows us to understand what code is _not_ covered by tests — that is, it will run our testing code and log all the normal package code that gets exercised and tell us what never is run. We'd like to know what parts of the code are not covered by tests and, if possible, write new tests for those pieces.

- [ ] Install the `covr` package, read its documentation,

[2021-08-12 13:58] bpbond opened #489 "Incorporate land heating?"
@ssmithClimate sez:

The global energy inventory increased by 435 [325 to 545] Zettajoules (ZJ) for the period 1971–2018  and 153 [101 to 206] ZJ for the period 2006–2018. This corresponds to an Earth energy imbalance of 0.57 [0.43 to 0.72] W m-2 for the period 1971–2018, increasing to 0.79 [0.52 to 1.06] W m-2 for the period 2006– 2018, expressed per unit area of Earth’s surface. Ocean heat uptak

[2021-08-12 16:44] ssmithClimate commented on #489
Updated the above to be more complete, with reference.

[2021-08-16 16:30] kdorheim commented on #471
In the main read me & the pkgdown manual we refer to the old contribution guide, we might want to delete that one & consistently refer to https://jgcri.github.io/hector/articles/manual/ContributionsGuide.html.

[2021-08-17 15:00] ssmithClimate opened #491 "Consider changing name of indirect forcing"
The community has coalesced to calling the suite of indirect forcing aerosol-cloud interaction (ACI). Consider updating nomenclature in hector.

[2021-08-17 15:10] bpbond commented on #491
In code, or outputs, or both? The string "indirect forcing" doesn't occur anywhere currently.

[2021-08-17 15:20] ssmithClimate commented on #491
We are a bit more cryptic than that now, internally we have a variable called: D_RF_SO2i, which represents all aerosol indirect effects. That is now parameterized just with SO2 emissions, but that will change if we update to the AR6 parameterization which includes other primary aerosol emissions as well.

[2021-08-17 15:21] ssmithClimate commented on #491
Not sure how this manifests in the output.

[2021-08-17 19:55] bpbond commented on #480
Some thoughts for our discussion today @leeyap @kdorheim :

Continued improvements and maintenance
* write a vignette for how to get GMST vs GMAT
* calibration—start to gather the CMIP6 data we will need for that?
* okay it also look like the HL & LL temps used in Hector used to convert to ocean was calculated by CH update with CMIP6 values?

Deeper programming
* address some more-complicated outs

[2021-08-17 20:24] bpbond commented on #480
Leeya to set up meeting with Natanel to discuss his work—data, code, etc., so we have good knowledge transfer as his internship ends.

What would be involved with GMAT vs. GMST? See #360 . Take the ocean surface temperature, and land surface temperature, weighted-average them together.

[2021-08-17 20:29] bpbond commented on #480
Consider for the future: CMIP6 data processing, perhaps with Python package, taking advantage of @leeyap 's experience with that language.

[2021-08-18 08:22] #484 closed

[2021-08-18 08:54] bpbond opened #492 "Non-portable testing makefile"
On my machine:
[code]

Fix this.

[2021-08-18 13:50] leeyap commented on #456
Also not sure why this isn't working.

From what I can see, we want `r_warm_data` to have `det_c` and `soil_c` values _lower_ than `r_biome_data` because the warming factor for the permafrost biome within `r_warm_data` is set at 3.0. When I tried to retrieve the warming factor for the `r_biome` just to check, I got this error:

  sendmessage: msg:  	Assertion failed: Biome 'global' missing from bi

[2021-08-19 11:27] bpbond commented on #480
@leeyap When you talk with Natanel, please take a look at his code for calculating airborne fraction. Consider—should we add that as an example at the end of the tracking vignette?

[2021-08-19 17:30] bpbond opened #495 "Add a citation file?"
https://github.blog/2021-08-19-enhanced-support-citations-github/

[2021-08-19 18:07] ssmithClimate commented on #495
And we should make sure we are properly citing data and papers we use in hector.

[2021-08-19 20:10] bpbond opened #496 "Re-implement NBP using fluxpools"
Per @kdorheim [comment](https://github.com/JGCRI/hector/pull/493#discussion_r692448908), need to reimplement #397 in the v3 branch. As part of this get rid of that TODO in the code.

[2021-08-19 20:26] bpbond opened #497 "No parameters to inherit"
When building the R package this is printed:
[code]

@kdorheim Do you know is this legitimate, or can we remove all the Roxygen `@inheritParams` tags and get rid of this?

[2021-08-20 01:45] kdorheim commented on #497
I think we can remove the `@inheritParams` tags.

[2021-08-20 10:16] #467 closed

[2021-08-20 10:17] bpbond commented on #497
@leeyap Do you mind taking this on?

[2021-08-20 11:01] #374 closed

[2021-08-20 12:38] bpbond commented on #478
Duplicate of #497

[2021-08-20 13:25] leeyap commented on #497
@bpbond Sure thing. Remind me what file(s) need to be edited?

[2021-08-20 13:28] bpbond commented on #497
aadoc.R? Sorry,not at computer. You should be able to search for the occurrences above though.

Thanks @leeyap!

[2021-08-20 13:36] bpbond commented on #497
@leeyap No that's wrong. The lines are in `hector.R` and `rcpp_constants.cpp`

[2021-08-20 13:38] bpbond commented on #497
Also, after editing you will need to rebuild the package documentation (Build -> Documentation).

[2021-08-20 13:43] leeyap commented on #497
Okay, thanks. Just to clarify, I should strike the whole line, eg `//' @inheritParams BETA` would all be deleted

[2021-08-20 13:47] bpbond commented on #497
Right!

[2021-08-20 15:04] leeyap commented on #480
@bpbond
That could be interesting - the airborne fraction code shows how much carbon moved from the earth_c pool to atmos_c, right? So would the example be to use tracking data to calculate this (and potentially other) fractions?

If it's okay with @NatanelHa, I can use his code, modified slightly, in the vignette. Natanel compared the airborne fraction calculation from Hector to other models/scen

[2021-08-20 15:18] NatanelHa commented on #480
Hi @leeyap,

Feel free to use my code! Just to clarify, the values I used for comparison were all from a paper written about the airborne fraction. I think the paper itself also has good background and explanation of what exactly the airborne fraction is too.

Here is the paper:
Knorr 2009 - http://dx.doi.org/10.1029/2009GL040613

And as always feel free to reach to reach out if you have any quest

[2021-08-20 15:46] bpbond commented on #480
That'd be a great place for the graph and thanks @leeyap for taking this one, and thanks @NatanelHa for the code! And yes, I would include the Knorr values.

[2021-08-20 16:09] leeyap commented on #480
@bpbond sounds good - I'll get you a draft hopefully by today or Monday.

@NatanelHa - thanks for the info and the code, appreciate it!

[2021-08-21 21:16] bpbond opened #499 "Tracking visitor has screwed up output names"
Should have caught this before now!

[code]

1. A no-biome run as above shouldn't have that "global" crap in it
2. When you _do_ do a biome run, the names here don't match those in the outputstream:

[code]

[2021-08-23 09:05] bpbond commented on #499
We should add a test for this @leeyap — let's discuss today.

[2021-08-23 10:41] bpbond opened #501 "fluxpool bug"
I think this is possible:

* Create a fluxpool `x` with tracking turned on
* Use `x.set` to a different value, same units, same tracking, different name
* End up with a fluxpool with two entries in its map, each 1

[2021-08-23 14:17] bpbond opened #503 "Tracking test code - check for valid pool names"
This is apropos of #499

* Take the first (?) year of the tracking data (from `get_tracking_data()`). Call `fetchvars` for each unique `pool_name` ( using the `pool_units` in the call) and confirm (1) no error and (2) the value returned is the same as that recorded in the tracking data

For example the year 1800 values in my test rcp4.5 run start with
[code]
If we `fetchvars` "HL" for 1800, we sho

[2021-08-23 14:18] bpbond commented on #503
Also

* The `source_name` entries should all be present in the `pool_name` column

[2021-08-23 18:14] bpbond commented on #499
Why does auto-close seem to be broken for me recently? 🤔

[2021-08-23 18:14] #499 closed

[2021-08-24 15:55] bpbond commented on #330
Note to self: this could be done using the exact same mechanism I used for the csv_tracking_visitor output (which returns a data frame to R via `get_tracking_data()`).

[2021-08-24 15:59] leeyap commented on #503
Hi @bpbond - I had a couple of questions

1. What is the function call for the earth_c biome? I was able to find all the others.
2. When I run the core with tracking, the soil, detritus, and veg pools still show up as _global. I restarted my session and am up to date with the origin, so not sure why that's happening?
3. So far, it looks like the values I get from the tracking data and the values f

[2021-08-24 20:12] kdorheim opened #505 "Ocean CMIP temperature data needed"
We need some data for Hector's ocean component, these values will most likely come from a multi-model CMIP mean.

* pre-industrial weighted mean ocean surface temperature (for total surface)
* relationship between total mean ocean surface temperature & the following
     * ocean surface temp for HL (defined as latitude > 55)
     * ocean surface temp for LL (defined as latitude < 55)

[2021-08-24 20:16] kdorheim opened #506 "Initial ocean C pool values needed"
Like #505 these values will probably come from CMIP6 netcdf outputs

* initial carbon pool values of the following ocean boxes
     * HL surface box (defined as latitude > 55 depth 0 - 100m)
     * LL surface box (defined as latitude < 55 depth 0 - 100m)
     * intermediate ocean box (all lat 100m - 1000m)
     * deep ocean box (all lat 1000m - 3777m)

[2021-08-24 20:17] kdorheim commented on #506
@bpbond do you want to open an issue for carbon cycle pools values needed for simple N box?

[2021-08-24 20:22] kdorheim opened #507 "Remaining unclear ocean component parameters & functions"
Related to #506 & #505

* surfaceLL.mychemistry.U  = 6.7; wind speed
* ~In convertToDIC function there is a hardcoded constant of 1027.0 is this the density of seawater? Where did it come from?~
* the function "brief calculate Omega of Ca/Ar" -- unclear where this function came from...

[2021-08-25 11:22] bpbond commented on #503
Good morning @leeyap

1. Uh I do not know. There might not be done! In which case we could add it—feel free to look at how this happens in the code, e.g. for `ATMOSPHERIC_C()`, and try to duplicate, or we could walk through it together. Basically there needs to be some R code to provide the proper variable name back to the user.
2. Have you merged in latest changes to `land-tracking`? That's where

[2021-08-25 11:24] bpbond opened #509 "Terrestrial C cycle defaults"
As in #506 , we'd like these values better documented (although the final spinup values also obviously depend on the differential equations relating pools to each other).

[2021-08-25 11:46] leeyap commented on #503
Hi @bpbond,

1. Is that the code is the aadoc.R file?
2. I'm working in `land-tracking` which is why I was confused?
3. It varied - one difference was 1e-2, one 1e-4, a couple 1e-5. But consistently, the call from `fetchvars` had the extra decimal place.

[2021-08-25 12:01] bpbond commented on #503
Hmm re 1, I think so? @kdorheim has a step by step guide to exposing Hector variables in the R package that may be useful too.

Re 2, 🤷 Probably easiest to look at this together I think

Re 3, that makes sense: `fetchvars` brings variables back in-memory, while the `get_tracking_data` mechanism is through a file (effectively). So the latter loses precision.

I will have time to talk later today, i

[2021-08-25 12:41] leeyap commented on #503
@bpbond I think talking later might be helpful. I have time today until a meeting at three if that works - feel free to plug something into the calendar. Thanks!

[2021-08-28 15:46] bpbond opened #512 "Permafrost numerics - use Boost instead of Rcpp"
I'm looking through the permafrost code in preparation for bringing it into the v3 branch (#502 ), and see this:
[code]
This introduces a new dependency users have to deal with when compiling Hector, which I'm not crazy about, particularly as the lognormal function is available [through Boost](https://www.boost.org/doc/libs/1_43_0/libs/math/doc/sf_and_dist/html/math_toolkit/dist/dist_ref/dists/log

[2021-08-28 17:28] bpbond opened #513 "Question about comment in code"
Lines 1456-1458 in the permafrost simpleNbox.cpp:
[code]

Should this be "0.172 / degC"?

[2021-08-28 19:04] ashiklom commented on #512
Sounds good to me!

[2021-08-31 14:35] bpbond commented on #503
Done in #498

[2021-08-31 14:35] #503 closed

[2021-08-31 14:36] bpbond commented on #480
It's the last day of August and time to close this!

[2021-08-31 14:36] #480 closed

[2021-08-31 14:48] bpbond opened #514 "Leeya - September"
1. Finish up #504

2. Explore [Pangeo](https://pangeo.io/about.html) - we'd like to know about its strengths, weaknesses, what is doable and what's not, esp wrt Pangeo in the cloud. Thinking particularly about using this for CMIP6 processing (though not only that). It would be great to have someone — you! — who is really familiar with it, both in theory and hands-on.

[2021-09-08 20:25] bpbond commented on #514
Hi @leeyap -

One that will be increasingly useful is a quick way to document how the v3 model ( #448 branch ) differs from `master`. Specifically, we'd like to save a copy of the `master` outputs and then be able to quickly generate plots comparing the current #448 outputs with the stored v2.5 ones for key variables.

Key variables might include atmospheric CO2, global temperature, and total radi

[2021-09-08 20:58] leeyap commented on #514
@bpbond I think so. So a procedure might look like this:

1. Identify key variables
         a. Atmospheric CO2, global temperature, radiative forcing - anything else?
2. Run Hector for four RCPs
3. Collect outputs (values of key variables at the end of a run? values across a time series?), store data frame as .csv file
4. Graph outputs?

[2021-09-08 21:14] bpbond commented on #514
Well, that's the procedure for part 1 (running the v2.5 Hector). We'll want a separate piece of code that runs the v3 model, loads the 2.5 data, and makes basic comparison plots.

Your code should be flexible in terms of key variables—that's a good list to start with, but we may want to easily add others later.

So, I would suggest with the first part you outline above, and we can check/review, an

[2021-09-09 14:56] leeyap commented on #514
@bpbond Okay, I'll start working on it.

Should I branch from master?

[2021-09-09 17:52] bpbond commented on #514
Thanks. I think probably switch to master, do the initial run for the comparison data, save those data outside of the repository, and then branch from V3?￼

[2021-09-14 21:25] bpbond commented on #514
Meeting 2021-09-14

* @leeyap to do some research — how does the codecov bot comment in a PR? It would be completely cool if we could do this for model outputs
* We'll talk September 28th about some longer-range things — LP to think about what interests her and what doesn't
* Continue with Pangeo but remember goal is to assess it, not master it (yet)
* We will go over specific code example of comp

[2021-09-21 15:14] leeyap commented on #514
To do for "Leeyabot"

- [ ] Create local script with access token to post a comment
- [ ] Create a Github action with access token to post a comment (look at Github Secrets)
- [ ] Create a Github action with access token to run comparison script

To do for Pangeo

- [ ] Continue working through relevant examples
- [ ] Write short write-up on notes, pros/cons, and conclusion on use of Pangeo

[2021-09-21 17:15] bpbond commented on #514
Thanks @leeyap . I edited slightly.

[2021-09-22 00:40] bpbond commented on #433
Hi @leeyap could you handle this documentation change please? Thanks!

[2021-09-22 00:42] bpbond commented on #331
@leeyap Could you suggest (and implement) a good place in the documentation for a short "Other simple climate models to check out" section, including this one?

[2021-09-22 00:43] bpbond commented on #368
@kdorheim Can this be closed?

[2021-09-22 00:47] bpbond commented on #330
@dawnlwoodard This is the issue we discussed last week.

[2021-09-22 11:53] #368 closed

[2021-09-22 12:44] leeyap commented on #471
Just now realizing that in the manual, there are no links under the Science section to "a general summary of the science behind Hector" or "the model's ocean."

Related to this, would it be worthwhile to add a section explaining the different types of climate models? (Could include examples of other models as discussed in #331) @bpbond

Also, "Hector in the wider world" doesn't actually show up in

[2021-09-22 12:45] bpbond commented on #471
Different types of climate models—as long as this was kept concise, yes, seems like a useful addition to me.

[2021-09-22 12:49] bpbond commented on #471
Not sure I'm completely understanding—the "general summary" doesn't exist yet, right? This may be easier to touch base about in person.

But anyway yes, I think that makes sense.

[2021-09-23 20:43] bpbond opened #517 "Hey fix the failing lint test"
Looks like it involves the curl library—didn't I just deal with this a couple months ago?!? 😠

[2021-09-24 00:46] bpbond opened #518 "Deprecated Boost warnings"
In #516 @pralitp noted:

[code]

[2021-09-28 17:36] bpbond opened #519 "Research and revamp sea level rise"
Hello @leeyap -

The Hector sea level rise code is [here](https://github.com/JGCRI/hector/blob/master/src/slr_component.cpp), and uses a relationship described in [Vermeer and Rahmstorf (2009)](https://www.pnas.org/content/106/51/21527). Our goals for this task are to:

- [ ] Read V&R2009 to understand its method
- [ ] Research developments since then. I'm pretty sure there's been some criticism V

[2021-09-29 17:20] bpbond commented on #415
Closed in #516

Why is GitHub auto-close not seem to work anymore?

[2021-09-29 17:20] #415 closed

[2021-10-04 17:44] leeyap commented on #514
Closing - it's October

[2021-10-04 17:44] #514 closed

[2021-10-04 17:45] bpbond commented on #514
🎃

[2021-10-05 14:27] stephpenn1 opened #522 "Updated Hector comparison graph for v3 documentation"
**Describe development**

An update to the Hector comparison line graph for v3.0 documentation. New graph should have the Hector line in the forefront and use contrasting colors to highlight Hector.

**Type of development**

PATCH

**Checklist**
- [ ] [Roxygen](https://roxygen2.r-lib.org/) where applicable but also thorough and coherent inline documentation
- [ ] [Unit tests](https://r-pkgs.org/te

[2021-10-05 17:30] kdorheim opened #523 "Negative land use change emissions in Hector v3"
So some of the ssps have negative land-use change emissions in Hector v3 this should throw an error message and the negative emissions need to be incorporated into the carbon cycle via land use uptake.

![image](https://user-images.githubusercontent.com/27299759/136073109-a3d6f52f-1a63-449d-9149-0c9a7e87fd20.png)

[code]

[code]

[2021-10-05 17:43] kdorheim opened #524 "Function and test constraints"
Hector has the capability to constrain various fluxes & values, it is an extremely useful capability it would be useful to confirm that these are functional, may sure it is clear if & what type of data should be used, whether or not we provide it or not, and make sure we do some unit testing, right now it looks only the concentrations constraints are tested.

https://github.com/JGCRI/hector/blob/a

[2021-10-05 17:49] kdorheim commented on #523
Consider adding a warning message to say that ffi emissions must be positive

[2021-10-05 21:18] ssmithClimate commented on #523
Note that for CMIP6 emissions gridding for GCMs, we separated net negative CO2 emissions into a separate sector so that GCMs with carbon -cycle could deal with this properly. (Otherwise it could cause a numerical problem for GCMs. Not the same problem that occurs in hector, but analogous in that the negative emissions are a different physical process as compared to fossil emissions.) Perhaps could

[2021-10-06 10:27] bpbond commented on #239
I think Robert was right here—this would be a good vignette, and if someone wants to do something like this in the future, great. But this isn't an issue with Hector, so closing.

[2021-10-06 10:27] #239 closed

[2021-10-06 10:27] bpbond commented on #49
Out of date, closing.

[2021-10-06 10:27] #49 closed

[2021-10-06 10:28] bpbond commented on #53
Still a good idea but (1) not critical and (2) not gonna happen for v3. Changing milestone.

[2021-10-07 11:54] ssmithClimate commented on #523
Note that carbon capture is a direct transfer from the atmosphere to the geologic reservoir. (So no c-cycle impacts other than the concentration drawdown).  So its a bit different than land-use uptake. Which I'm realizing now isn't the point of this issue (apologies if I'm muddying the water), but I guess net negative FFI emissions aren't an issue for hector?

[2021-10-07 18:25] kdorheim opened #525 "So2 natural emissions"
As part of the RF update we are also updating the natural emissions right now I am struggling to do so for the natural SO2 emissions.

So we are able to read in the natural emissions we see that there is a change in SN as expected & no change in SO2 emissions (these are the anthropogenic emissions).

![image](https://user-images.githubusercontent.com/27299759/136439811-33b332c5-8b9f-48ee-9204-cd8d

[2021-10-07 18:28] kdorheim commented on #525
FYI here is the script I used to generate the figures
[testing_out_nat_so2.txt](https://github.com/JGCRI/hector/files/7306154/testing_out_nat_so2.txt)
that I ran using the krd_epa2 branch

[2021-10-14 12:54] kdorheim commented on #525
@ssmithClimate thanks! so natural SO2 emissions should not be considered part of the cloud interaction RF then I will go ahead & completely remove the SO2N as a variable from Hector. Is that correct?

[2021-10-19 15:03] bpbond opened #526 "Sea level rise - drop no-ice-melt reporting?"
Hi @kdorheim

@leeyap and I have audited the model's current SLR code and have two simplifications we'd like to propose:
* We think the calculation is unnecessarily baroque/convoluted/wrong, and Leeya is going to run some tests in R using just the simple V&R2009 equation (as opposed to calculating our own reference period temperature). She'll report the results of that later.
* The model currently

[2021-10-25 19:00] #525 closed, assigned to bpbond

[2021-11-08 11:06] bpbond opened #530 "Ocean initial values in INI file not honored"
@kdorheim notes:

Reading in the ocean's initial values via the ini files does not work; they are written over by some internally hard coded numbers.

[2021-11-10 01:27] bpbond opened #531 "NPP not affected by changes to vegetation"
Right now, we scale preindustrial NPP only by CO2 fertilization.

This means that if we deforest and pave 10% of the planet, via the LUC input...nothing changes for NPP. That's not great.

Also, while GCAM's LUC data is "the whole cycle" — I mean, it includes ALL the effects of LUC, from the initial loss (uptake) to slower decay (growth) — most users I think will assume our LUC means the initial p

[2021-11-10 13:03] ssmithClimate commented on #531
One question would be how much does NPP change if one converts forest to grassland or cropland? NPP could even go up! (Although if cropland is tilled, soil carbon would go down of course.)

[2021-11-10 14:33] bpbond commented on #531
Yes, thanks, good point. The scenario I was discussing with @realxinzhao was if we deforested half the world and paved it; Hector would definitely not handle that correctly.

Basically: LUC is a transfer but won't affect NPP (or permanently transfer carbon). In some cases that's okay, and it's okay for GCAM because GCAM is computing the integrated LUC over time (including regrowth, etc).

[2021-11-10 16:57] kdorheim commented on #507
@cahartin do you know the source of the average wind speed? of any of the above unknown ocean information?

[2021-11-10 17:33] cahartin commented on #507
- Wind speed HL and LL 6.7 m s−1 Takahashi et al. (2009), Liss and Merlivat (1986)
- 1027.0 is the average density of seawater - technically, density will be slightly different for the boxes and will change based on temperature change.
- Omega Ca/Ar is calculated from equation 1.1.25 in Zeebe, R. E. and Wolf-Gladrow, D.: CO2 in Seawater: Equilibrium, Kinetics, Isotopes, Elsevier, Amsterdam, 2001.

[2021-11-14 10:47] bpbond commented on #531
Documenting:

One other thing I did was to [branch an experimental version of Hector](https://github.com/JGCRI/hector/tree/newluc) that treats de/afforestation as permanently affecting plant production—i.e., LUC fluxes permanently change NPP. If we assume that the “pavement factor” equals 1, i.e. anything we deforest is paved over and taken out of future NPP, the results are big for e.g. RCP4.5 (r

[2021-11-22 14:29] bpbond opened #533 "Possible leeyabot behavior change"
Currently [leeyabot](https://github.com/JGCRI/hector/pull/527) always prints a message, the summary table, and the graph. But when all the R2 values are 1 and all the NRMSE values are 0, i.e. the model behavior hasn't changed, is there any point?

Maybe in that circumstance the bot should just say "The current pull request's outputs do not differ from master" and stop. 🤷

[2021-11-24 18:08] leeyap commented on #533
Should have been closed by #534

[2021-11-24 18:08] #533 closed

[2021-12-15 15:04] bpbond opened #539 "Beta parameterization for v3"
https://www.nature.com/articles/s41586-021-04096-9

[2021-12-17 18:49] NatasjaF commented on #115
Hi everyone.

Just started with Hector run from R  (also not very experienced) in Windows and facing the same issue.
I created an `output` directory ( `hector/output` )  but I still do not get any .csv output files.
I can plot the results for RCPs but I can't find the files where the results are stored. What could be wrong?!

[2021-12-17 18:53] bpbond commented on #115
Hi @NatasjaF , are you working in R? Or building the command-line version of the model?

[2021-12-17 18:56] NatasjaF commented on #115
Hi, I am working in R.

[2021-12-17 18:59] bpbond commented on #115
I'm sorry—you said that in your original message! 🤦  Yes, when run through R the model doesn't create output files at all. You should retrieve any outputs you want using the `fetchvars()` function, as demonstrated in the [introductory vignette](http://jgcri.github.io/hector/articles/intro-to-hector.html).

[2021-12-17 19:08] NatasjaF commented on #115
I was actually wondering if I need to save those outputs for comparison between RCPs / change of parameters etc after exiting R, should I do that manually for each run then (through write.csv) since they are not created?

[2021-12-17 19:13] bpbond commented on #115
Yes, you'll want to
* Create a hector core
* Run your scenario
* Extract output data and save in some way
* Reset the core OR shut it down and then re-create for the next run

You can see examples of this in the second part of the basic vignette, link above.

[2021-12-17 19:21] NatasjaF commented on #115
Clear, thank you!

[2022-01-03 22:46] bpbond opened #540 "How to install Hector from R"
The [basic vignette](http://jgcri.github.io/hector/articles/intro-to-hector.html) doesn't talk about this. 😕  Do we describe somewhere else how to use `remotes::install_github()` to actually install the model?

[2022-01-04 01:14] kdorheim commented on #540
In the manual there are instructions on how to install R hector see https://jgcri.github.io/hector/articles/manual/BuildHector.html

however it uses the devtools::intall_github command instead of the remotes::install_github

[2022-01-04 02:18] bpbond commented on #540
Ah thank you!

[2022-01-04 02:25] kdorheim commented on #540
^^ But not necessarily clear, it may be wise to re-organize the manual and vignettes, perhaps labeling the vignettes as examples or something

[2022-01-04 13:12] bpbond commented on #540
@leeyap At your leisure, could you
* Update the documentation page Kalyn links to above to reference `remotes::install_github()` instead of `devtools`
* Update the introduction to Hector vignette (link above) with a sentence providing a link to the how-to-install hector page

These changes can be done on either `master` or the v3 branch. Thank you!

[2022-01-04 16:52] bpbond opened #541 "Relative/absolute paths and running Hector"
When I run from Xcode (or the command line) I definitely get output files, but @kdorheim and others do not. Why? Fix. This is come up before in previous issues—lazy right now, not searching, but they're there.

[2022-01-04 17:08] pralitp commented on #541
My first thought without looking into this too much is that there are no checks for if the output directory does not already exist.  I don't _think_ it will create it for you -- or maybe it was a platform specific deal.

But you can check logger to see how we dealt with it for the logs directory:
https://github.com/JGCRI/hector/blob/a75702ba5a3ab9684a4eae1e49ef221172b6a494/src/logger.cpp#L272

May

[2022-01-04 18:55] kdorheim commented on #377
Closed with #536

[2022-01-04 18:55] #377 closed

[2022-01-04 18:56] kdorheim commented on #161
Closed with #536

[2022-01-04 18:56] #161 closed

[2022-01-04 21:31] #540 closed

[2022-01-07 12:23] kdorheim commented on #541
Last time checked even when I manually make the output directory and run Hector via command line or Xcode no csv file is written out, but let me try again.

[2022-01-07 13:51] bpbond commented on #541
Is the problem that if the output directory doesn't exist, it won't get created? What I understand from you @kdorheim is that your Hector isn't writing _any_ outputs, even when the output directory is there.

[2022-01-10 15:06] bpbond opened #545 "Boost reference in documentation"
[This page](https://jgcri.github.io/hector/articles/manual/BuildHector.html) says

This is out of date - the Boost version is old, and that's not the way the makefile works anymore. Fix.

[2022-01-11 21:49] bpbond opened #546 "If cores auto-reset they should notify user?"
When you run a core; change a parameter; and re-run (without resetting) it seems like the core auto-resets because it's dirty? I think so? But in that case it really should print a `message` telling the user it's done so.

[2022-01-11 21:53] kdorheim commented on #541
Thanks @bpbond and @pralitp for taking a look at this.

From the command line the output directory has to exist in order for the output csv files to be written there. By including read me in the output directory in #543 that directory will always exist.

For Xcode the schemes need to be set up with the correct working directory in order to be able to write the csv files out, #543 adds more documen

[2022-01-11 22:05] leeyap opened #547 "Variable names in R"
There doesn't seem to be a clear way to figure out what a Hector variable is in R (that I know of). Both in terms of science, but also in terms of communicating between R and the core (e.g. can call `BETA()` to get `"beta"` but not the other way around.

We could potentially create a "dictionary" in the manual of variable names and brief description/how to access them.

[2022-01-12 00:58] bpbond commented on #541
@kdorheim I think so!

[2022-01-12 00:59] bpbond commented on #546
@leeyap This is a straightforward change that might be great for you to sharpen your skills working with R package code. Any interest?

Note - change should include test code verifying a message is generated.

[2022-01-13 18:19] #360 closed

[2022-01-13 18:19] pralitp commented on #541
I still think we should at the very least have some error checking that in main.cpp:68
[code]

Actually opens correctly.  There is some chance a user will try to set some random working directory and forget to create the output dir.  It would be good to catch that.  I think it should be as simple as checking:
[code]

I can take this on in the hackathon if you think it is a good idea.

[2022-01-13 18:20] kdorheim commented on #541
^^ @pralitp that is a great idea and that would be really helpful thanks!

[2022-01-14 14:10] leeyap commented on #440
@kdorheim okay to close?

[2022-01-14 14:14] bpbond commented on #539
@leeyap As part of your work could you quantify the difference between our default beta and one we can calculate from this paper?

[2022-01-14 14:15] pralitp commented on #541
Oops, I think this is a duplicate of #115 which is already part of the `v3.0` milestone so I'm just gonna close this one.

[2022-01-14 14:15] #541 closed

[2022-01-14 14:39] bpbond commented on #518
All Boost warnings eliminated in 42eef70.

[2022-01-14 14:39] #518 closed

[2022-01-14 14:44] bpbond commented on #483
Hey @pralitp would you be willing to take this on? I feel like you can do something much more elegant than I'm going to come up...can provide more detail if yes.

[2022-01-14 14:46] kdorheim commented on #440
Yup @leeyap I believe so!

[2022-01-14 14:46] #440 closed

[2022-01-14 15:18] bpbond commented on #472
Updated and resolved in 4bf1728.

[2022-01-14 15:18] #472 closed

[2022-01-14 15:21] bpbond commented on #545
My bad—was looking at the old documentation, not the v3 version.

[2022-01-14 15:21] #545 closed

[2022-01-14 15:41] bpbond commented on #517
Fixed in 53d4fc7.

[2022-01-14 15:41] #517 closed

[2022-01-14 15:59] bpbond commented on #366
So I just checked and we're already running a trailing-whitespace linter, so good there. Not inclined to worry about spelling or line ending checks for now (esp. since we haven't had any problems with the latter).

OK to close @kdorheim ?

[2022-01-14 16:06] #366 closed

[2022-01-14 16:17] leeyap commented on #546
@bpbond
For test code, would that go under `test_hector.R`?
What file would I have to edit to get the core to print a message?

[2022-01-14 17:45] bpbond commented on #456
Also: in 4525c47 I removed lines 221-222 from `test_biome.R`:

[code]

[2022-01-14 21:22] pralitp commented on #483
Sure, I'll take a look during the next hackathon?

[2022-01-19 18:03] kdorheim commented on #115
Addressed at part of #548 thanks @pralitp!

[2022-01-20 14:15] leeyap commented on #546
Okay, update:

From `rcpp_hector.cpp`:
[code]

I think that the `std::cout` line is not doing what I think it's doing. When I try to run the following in `test_wrapper.R`:

[code]

The `expect_output` test fails because there is no output generated. Without using test code, I tried to trigger an auto-reset and also didn't get any output (I made sure to rebuild).

Thoughts? @bpbond

[2022-01-20 14:39] bpbond commented on #546
Hmm, odd, I thought we tried this and DID see output.

...oh wait, you haven't tried to `run` the core! That's when the reset message should get triggered.

[2022-01-20 14:46] leeyap commented on #546
Ah, okay. I tried this (just in console):
[code]
And then ran the core without getting the output message.

[2022-01-20 15:19] bpbond commented on #546
Documenting...

It looks like `std::cout` works on Mac (where we tested this a few weeks ago) but not on Windows. We ended up using `Rcout` instead as documented [here](https://teuder.github.io/rcpp4everyone_en/060_printing_massages.html).

[2022-01-20 16:22] leeyap commented on #546
Debugging, then working to create a function in R that:
1. Checks if core is dirty
2. If yes, prints a warning
3. Then, passes control to C++

[2022-01-21 11:46] bpbond opened #549 "Testing dependencies"
Sometime let's think about switching Hector?

https://www.avrahamadler.com/2022/01/20/reduce-dependency-hell/

[2022-01-21 15:00] #115 closed

[2022-01-21 15:12] leeyap commented on #546
Updates:
- Changed `rcpp_hector` to auto re-set the core if it is dirty prior to a new run, and return output alerting the user
- Updated `test_wrapper` accordingly to check for the output

Problems:
- We're considering adding an R function `run()` that (as mentioned above) would check for a dirty core, print a warning, and pass to C++. We'd (I'd) have to go into all tests that would be affected b

[2022-01-21 15:15] bpbond commented on #546
Thanks @leeyap . There are definitely some oddities here!

[2022-01-21 15:16] kdorheim commented on #546
^^ would this modify or replace the current R `hector::run` function? I don't think that we want two functions named run, that might cause some chaos

[2022-01-21 15:17] bpbond commented on #546
Our idea is that there would be a `run()` in R, called by users, and it would pass control to `run_impl()` in C++ (like `newcore()` passes control to `newcore_impl()`).

[2022-01-21 15:25] bpbond commented on #546
To be clear, the purpose of adding a `run()` in R would be the ability to issue an R warning on auto-reset. Can't do that from C++.

...hahah @pralitp to the rescue! 🙏

[2022-01-21 15:39] kdorheim commented on #546
Still slightly confused, there is an R `hector::run()` [see here](https://github.com/JGCRI/hector/blob/a75702ba5a3ab9684a4eae1e49ef221172b6a494/R/RcppExports.R#L1132) already so are you modifying this existing function? Or completely replacing it?

[2022-01-21 16:47] bpbond commented on #547
Maybe linked with #362

[2022-01-21 19:13] bpbond commented on #483
Why why why did this not close 😢

[2022-01-21 19:13] #483 closed

[2022-01-22 00:36] #546 closed

[2022-01-22 02:16] bpbond commented on #104
These are all either covered elsewhere, or obviated; closing.

[2022-01-22 02:16] #104 closed

[2022-01-24 12:30] #492 closed

[2022-01-24 15:46] leeyap commented on #539
![beta_diff](https://user-images.githubusercontent.com/87151968/150814846-f789716a-4644-4c78-9c79-84ace9fd6e79.jpg)
Were you thinking something like this?

[2022-01-24 15:47] bpbond commented on #539
Oh nice, yes! Could you include a line for our current default in red?

[2022-01-24 16:27] leeyap commented on #539
Like this?
![beta_diff](https://user-images.githubusercontent.com/87151968/150823222-4b5f9300-caaf-4135-8e10-b0302a050ad9.jpg)

[2022-01-27 03:05] dawnlwoodard commented on #362
Looks like these are actually exposed now. I think we can close this issue. That said, there is a separate issue with NBP (aka atm_land_flux) that it doesn't seem to have data for 1745, whereas other variables do. Creating a different issue for this.

[2022-01-27 03:09] dawnlwoodard opened #556 "atm_land_flux doesn't seem to be defined for 1745"
**Description**
When trying to get NBP data out from the R interface (using the latest land_tracking branch), I get an error if I use the dates 1745:2100 but 1746:2100 works fine. Other variables seem to have 1745 (tried veg_c and atm_ocean_flux). Haven't dug into code yet to see what might be causing this.

Here's the error I get:
Error in sendmessage(core, GETDATA(), v, dates, NA, "") :
sendmess

[2022-01-27 14:05] kdorheim commented on #556
Is this related to issue #354?

[2022-01-27 14:30] #362 closed

[2022-01-27 15:18] dawnlwoodard commented on #556
Ah, yes, that would be the explanation. Thanks, @kdorheim!

[2022-01-27 15:20] bpbond commented on #556
It sounds like this can be closed then? Please reopen if I'm misunderstanding.

[2022-01-27 15:20] #556 closed

[2022-01-28 14:12] bpbond opened #557 "Tgav constraint"
@kdorheim asks

I am opening this issue mostly for the pleasure of closing it.

[2022-01-28 14:30] kdorheim commented on #557
1 min

[2022-01-28 14:42] kdorheim commented on #557
Okay as part of the #558 could you go through the section of the [temperature component](https://github.com/JGCRI/hector/blob/2d2c9d36197b30f460e34d74d3b3e5e60736a099/src/temperature_component.cpp#L352) and clean up inline code documentation? There are some comments like

        H_LOG( logger, Logger::SEVERE ) << "** ERROR - Temperature can't currently handle user-supplied temperature" << std::en

[2022-01-28 15:00] bpbond opened #559 "Constraint checks"
In b1ac274aa17e324ed886ba5f04156e5c867feb79 for #558 I wrote
[code]
That might be a good improvement to do? Within some numerical error of course—they're not going to be machine-precision identical.

[2022-01-28 15:44] bpbond commented on #557
@kdorheim Here's what used to happen, pre-DOECLIM when the temperature constraint code got nuked:
[code]
...and then there's a lot complicated crap whereby we used `internal_Ftot` to ensure that when we exited a temperature constraint we smoothly transitioned back to the unconstrained behavior.

I'm inclined not to worry about this last part: if the model jumps when exiting a constraint, that's th

[2022-01-28 18:23] kdorheim commented on #557
Re the model jumps - what do we do with the other constraints? Do we smooth it out or let the hector jump? My inclination is that we would want the behavior to be consistent.

`internal_Ftot = 3.7 * tgav / S + heatflux;  // inverting normal T=S/3.7*F eqn` where did this come from? is it consistent with doeclim?

[2022-01-28 18:45] bpbond commented on #557
It's just the mechanism that the temperature component used to use to allow it to exit 'gracefully' from a constraint. I don't think any other constraint does anything like this. Consistent with declaim—almost certainly not :)

[2022-01-28 18:57] kdorheim commented on #557
If no other constraint has a graceful exit no need to add that complexity here which is great because um I have no idea how to back out the Ftot from the Tgav the doeclim way.

[2022-02-14 21:26] kdorheim opened #563 "Add hector_cmip citation"
Related to [DOECLIM integration](https://github.com/JGCRI/hector/pull/562#) #562, we will want to mint a version of hector_cmip6 on zenodo & include the doi citation where appropriate. Right now I think that is limited to the ocean_componet.cpp file.

[2022-02-14 21:28] kdorheim commented on #563
Places to add the citation
* MEAN_TOS_TEMP in the oceanbox.hpp
* Initial HL & LL ocean temp in ocean_componet.cpp

[2022-02-14 21:52] bpbond opened #564 "Leeyabot tweaks"
Looking at the leeyabot post in #562
![68747470733a2f2f61737365742e636d6c2e6465762f383036343135393238343436323539393165396333383963383337306539353234653962623235333f636d6c3d706e67](https://user-images.githubusercontent.com/1956468/153952306-cf8a57d5-63ea-4ec8-89d7-22c7e327e31f.png)

First, the y-axis is in scientific notation, which isn't very handy. Should we change?

Second, the 1x3 layout isn't

[2022-02-17 20:25] ssmithClimate commented on #491
Probably, but how does this appear in the hector outputs now in terms of variable names? For example are there now output variables called ACI and ARI (or something like that)?

[2022-02-18 00:34] kdorheim commented on #491
The output variables are now

RF_ACI, which has the documentation  `aerosol-cloud interactions, includes contributions from SO2, BC and OC`

We don't have an output for ARI that would be the sum of SO2, BC, OC, and NH3. If we want to have that aggregate value to be consistent with the IPCC we can add it but it is not too difficult to do from the output.

[2022-02-18 22:29] ssmithClimate commented on #491
Do we have separate direct forcing outputs for SO2, BC, OC, and NH3? In which case that's even better.

[2022-02-18 23:00] kdorheim commented on #491
Yes we do!!

[2022-02-20 14:08] bpbond opened #566 "Update NPP0"
"For all the data, the mean±standard deviation and median were 56.2±14.3 and 56.4 Pg C yr–1, respectively"

Ito, A.: A historical meta-analysis of global terrestrial net primary productivity: Are estimates converging?, Glob. Chang. Biol., 17, 3161–3175, 2011. http://dx.doi.org/10.1111/j.1365-2486.2011.02450.x

[2022-02-20 23:29] kdorheim commented on #468
Closed with #562

[2022-02-20 23:29] #468 closed

[2022-02-20 23:29] kdorheim commented on #193
Closed with #562

[2022-02-20 23:29] #193 closed

[2022-02-20 23:30] kdorheim commented on #505
Closed with #562

[2022-02-20 23:30] #505 closed

[2022-02-20 23:33] kdorheim commented on #444
Turns out this is not actually what we want to do, the HL & LL tos should remain in absolute terms

[2022-02-20 23:33] #444 closed

[2022-02-20 23:35] #507 closed

[2022-02-20 23:35] kdorheim commented on #506
Addressed in #562

[2022-02-20 23:35] #506 closed

[2022-02-20 23:38] kdorheim commented on #304
Addressed in #562

[2022-02-20 23:38] #304 closed

[2022-02-20 23:39] kdorheim commented on #301
Addressed in a Hector v3 devlopment

[2022-02-20 23:39] #301 closed

[2022-02-20 23:40] kdorheim commented on #390
Resolved as part of #562

[2022-02-20 23:40] #390 closed

[2022-02-20 23:42] kdorheim commented on #68
Adding DOECLIM in Hector v < 2.5 and its integration #562 accounts for the warming rates being different over the ocean & land.

[2022-02-20 23:42] #68 closed

[2022-02-20 23:43] kdorheim commented on #117
@pralitp okay to close?

[2022-02-21 14:02] kdorheim opened #567 "Use NA for DOECLIM land ocean warming ratio"
As of #562 users have the ability to read an a land-ocean warming ratio that will determine how Hector's temperature component computes ocean air and land air/surface temperatures. If no user-provided ratio is read in the lo warming ratio is initialized with with the value of 0. To better clarify this code replace the value of 0 with a NAN call.

****

**Is your feature request related to a proble

[2022-02-21 19:02] bpbond opened #568 "fetchvars is returning NA for all years"
**Describe the bug**
`hector::fetchvars()` is returning `NA` for all years.

**To Reproduce**
[code]
**Expected behavior**
Not that! 😄

[2022-02-21 19:02] bpbond commented on #568
This is for the `land_tracking` branch.

[2022-02-21 19:03] bpbond commented on #568
@kdorheim When you get a chance, could you check on your system please?

[2022-02-21 21:36] kdorheim commented on #568
This might be the expected behavior, the fetchvars is an R wrapper for the cpp `getData` function. `getData` works with specific dates. It is also set up so that when the date is undefined (aka NA) the Hector core returns constant values or if it is a temporal variable it returns the value from the most recent time step. See here in the example you provided

[code]

If we really want to prevent th

[2022-02-21 21:39] kdorheim commented on #568
My first instinct was
1. leave it alone?
2. leave it to be a hector v>3.0 change, but when I think about that it would actually change any code that uses setvars & getvars (any analysis code & hector UI code) so if it is something we would like to change it would probably need to be associated with major version release such as v3 or v4

[2022-02-21 21:39] bpbond commented on #568
Thanks! At the very least we need to change the `fetchvars` documentation, which says:

[2022-02-21 21:40] bpbond commented on #568
This is a test improvement opportunity, too.

[2022-02-21 21:44] kdorheim commented on #568
this is not actually true, it will return the values for the variables associated with the core's current date.

Also variables that are constant or would be better classified as parameters such as ECS, BETA, Q10 would have a date values of NA

[2022-02-21 21:45] bpbond commented on #568
So I'll just tweak the documentation, removing that last sentence?

[2022-02-21 21:45] kdorheim commented on #568
👍

[2022-02-21 22:48] #568 closed

[2022-02-22 02:09] bpbond commented on #475
Obviated by #523

[2022-02-22 02:09] #475 closed

[2022-02-22 13:41] #375 closed

[2022-02-22 14:53] #566 closed

[2022-02-22 14:56] bpbond commented on #539
@leeyap What's the β median you're using for your analysis?

[2022-02-22 16:11] leeyap commented on #539
I've been using the mean and s.d. of 0.54 ± 0.03

[2022-02-25 15:59] bpbond commented on #183
Addressed by @kdorheim in #571

[2022-02-25 15:59] #183 closed

[2022-02-26 14:04] bpbond opened #572 "Document how to add new GHG to model"
@ssmithClimate suggestion on slack:

[2022-03-01 23:22] bpbond commented on #564
Closed via #573

[2022-03-01 23:22] #564 closed

[2022-03-03 16:55] bpbond opened #574 "Need a documentation page on fluxpools"
As for [unitvals](https://jgcri.github.io/hector/articles/manual/Unitvals.html)

Thanks @dawnlwoodard

[2022-03-07 20:03] #325 closed

[2022-03-07 20:19] kdorheim opened #575 "halocarbon_componet.cpp related to dos"
Ideas for halocarbon after Hector v3 (note this is just a collection of ideas)

* Add OH dependency to HFCs and HCFCs (#356)
* Rename component since also models other F-gases
* Make the list of the F-gases more accessible in R hector, consider exposing the total F-gases RF value
* Add missing F-gases from the IPCC AR6 Table 7.SM.7
* Forcing component shouldn't have to know individual halocarbons

[2022-03-12 17:53] bpbond opened #577 "Command line model crashing"
After `make clean` and `make hector`, the command-line model is failing on my machine:

[code]

The crash log in `~/Library/Logs/DiagnosticReports` says

[code]

The testing target builds and runs fine.

[2022-03-12 17:55] bpbond commented on #577
hmm Actions running fine

[2022-03-12 19:06] bpbond opened #578 "forcing is declaring capability FNH3 previously registered"
[code]

[2022-03-13 02:48] bpbond commented on #577
[code]

[2022-03-14 15:07] bpbond commented on #524
As part of #558 we now test that the INI file is changed correctly and that the model runs with each constraint enabled. It does not confirm that the outputs in the constraint timeframe match the constraint values. Do we want it to, or OK to close this?

[2022-03-15 01:21] bpbond opened #579 "Fluxes don't exactly match atmosphere value diffs from year to year"
In #459 @dawnlwoodard noted:

[2022-03-15 01:22] bpbond opened #580 "ATMOSPHERIC_C confusingly named?"
In #459 @dawnlwoodard noted:

This is a good point, and if we're going to rename it, the time is now. Thoughts @kdorheim ?

[2022-03-15 01:27] bpbond commented on #459
This is right, I think, and after looking through the code and thinking about this, I'm pretty sure that there will be no unintended side effects (famous last words) and that we don't have a comparable situation elsewhere. `Ca` is weird, because it's not an independent variable — merely `atmos_c` expressed in different units. It should never be allowed to deviate from it (and probably should not e

[2022-03-15 19:31] pralitp opened #582 "Memory leak / other memory issues"
**Describe the bug**
When running a memory profiler on GCAM (still using hector 2.5.0) a came across a few issues in Hector.  At least one of which I can verify is still valid (apologies for the screen shots!  There was more information in them than if I tried to just get the errors from logs):

<img width="481" alt="core_ozone" src="https://user-images.githubusercontent.com/7440455/158454053-520d

[2022-03-15 19:33] bpbond commented on #582
👏  nice @pralitp  — thank you! Great idea to run a profiler on it.

Note to self: we should also run a performance profiler.

[2022-03-15 23:16] bpbond commented on #582
The performance profile is about what you'd expect: the model spends about one-sixth its time reading in data, one-sixth spinning up, and 60% running.  The carbon cycle solver and the visitors dominate that 60%.

![Screen Shot 2022-03-15 at 7 14 07 PM](https://user-images.githubusercontent.com/1956468/158487538-3cb4f3ae-54f3-47ec-8a86-9ef462cfca03.png)

[2022-03-16 11:56] kdorheim commented on #580
I agree that it is misleading!

* Would it make sense to properly implement an ATMOSPHERIC_C output? (is it as simple as adding atmos_c + methane contribution? or would it need to include aerosols and minor GHGs like the HFCs)
* Because the only difference is in the units would it make sense to simply unexposed the atmos_c as an output? Make it only available to internal Hector? If we are talking

[2022-03-16 12:31] #459 closed

[2022-03-18 15:46] #582 closed

[2022-03-18 18:41] bpbond commented on #557
Fixed in #558

[2022-03-18 18:41] #557 closed

[2022-03-18 20:58] bpbond opened #585 "Consolidate GA files?"
The GitHub Actions `leeyabot` and `test-coverage` have very similar setups, both needing R, libcurl, and a few packages. Maybe consolidate them into a single yaml file? That would save on GA resources.

[2022-03-20 18:29] bpbond opened #586 "DOECLIM variables & time series"
These guys:
[code]

_really_ should use the Hector time series class.

On a very related note, the whole `TemperatureComponent::getData` structure is bizarre, with a big if/else block depending on whether a date is supplied or not. This should be restructured to be like simpleNbox.

[2022-03-21 18:37] bpbond commented on #496
Done in #587

[2022-03-21 18:37] #496 closed

[2022-03-22 14:33] bpbond opened #588 "Documentation v3 push"
Hi @kdorheim -

@leeyap has extra time the next few weeks and we were talking about making a push to improve and finish the v3 documentation.

1. Question: how do we _look_ at the built v3 documentation, do you know? When I go to https://jgcri.github.io/hector/ it seems to always be the 2.5 docs, even if I'm on the v3 branch.
2. We will build up our own list, but any suggestions about things you k

[2022-03-22 14:40] kdorheim commented on #588
This is something that I've been working a lot on lately, I was actually hoping to be able to push a branch today (most likely late afternoon). I could provide some documentation about how to build it to look at it locally, it would be helpful for @leeyap to look through it.

Some of the outstanding changes I've been working on include expanding the [input files documentation](https://github.com/J

[2022-03-22 15:19] bpbond commented on #588
Lol I like that seven-year-old link. @leeyap does that sound good? Yes please Kalyn, both of us would like to know how to build and view the documentation locally—thanks.

[2022-03-22 15:20] leeyap commented on #588
Sounds good! Happy to do a general review of the manual contents + anything specific (like the param table)

[2022-03-23 14:42] bpbond opened #590 "Input parameters in a centralized CSV"
Hello @leeyap -

We were wondering if you'd be willing to take something on.

As @kdorheim notes in #588

This ☝️ would be super useful: a single CSV that documents all the Hector inputs available from the INI file. It would probably have columns:
* Section
* Parameter
* Biome-specific?
* Time dimension?
* Required?
* Default value
* Units
* Description

This table would initially be constructed b

[2022-03-23 23:02] bpbond opened #591 "Zeroes getting returned from fetchvars"
Uh oh, I have a suspicion that my #496 may have broken `fetchvars` — although if that's the case don't know why tests didn't flag the issue! @leeyap and @BennettForville found
[code]
which doesn't look good.

[2022-03-24 00:47] bpbond commented on #591
nm 😳

[2022-03-24 01:12] bpbond commented on #591
Reopening. This is confusing behavior and should be fixed to warn, error, something.

[2022-03-24 14:12] bpbond commented on #586
Let's shelve it for now.

[2022-03-24 14:13] bpbond commented on #586
The getdata section was the big one, in that it had bad behavior.

[2022-03-24 14:13] kdorheim commented on #586
Could this be a v3.5 milestone?

[2022-03-24 14:13] bpbond commented on #586
Yes!

[2022-03-25 13:52] kdorheim commented on #324
@bpbond all of these constraints are implemented in land_tracking okay to close?

[2022-03-25 13:54] kdorheim commented on #205
@bpbond was this addressed by your tgav constraint work?

[2022-03-25 13:57] kdorheim commented on #92
@bpbond do we feel that this has been frequently addressed with the addition of the code of conduct, expansion to the style guide, and authorship guidelines that will be included in the package down documentation with  #589?

[2022-03-25 14:06] kdorheim commented on #283
@bpbond @pralitp is this still an issue?

[2022-03-28 12:59] bpbond commented on #324
Yes.

[2022-03-28 12:59] #324 closed

[2022-03-28 12:59] #205 closed

[2022-03-28 13:00] bpbond commented on #283
I don't know, but if someone on Windows is troubled by it, they can re-open.

[2022-03-28 13:00] #283 closed

[2022-03-28 18:25] leeyap commented on #590
[input_params.csv](https://github.com/JGCRI/hector/files/8365284/input_params.csv)

Just wanted to link this here, too - first pass at a csv

[2022-03-30 20:51] kdorheim commented on #572
This will be addressed in the #589 PR

[2022-03-30 20:52] kdorheim commented on #471
Will be addressed in #589

[2022-03-30 20:56] #117 closed

[2022-03-30 20:58] #363 closed

[2022-03-30 22:30] bpbond commented on #196
Fixed in #601

[2022-03-30 22:30] #196 closed

[2022-03-30 22:33] bpbond commented on #524
@kdorheim

[2022-03-31 00:27] kdorheim commented on #524
Let's close it we also do unit tests!

[2022-03-31 10:42] #412 closed

[2022-03-31 16:40] kdorheim commented on #590
Thanks Leeya it is looking good just a few comments
* atm_ocean_constrain - no longer exists in hector v3, delete from the table
* @bpbond for the biome-related parameters do we want some way of indicating that the biome name could be anything?
* N2O_natural_emissions[1750] -- is actually a time series  right now we hold it constant but that has not always been the case
* all of the constraints sh

[2022-04-03 11:14] bpbond commented on #591
More `fetchvars` bad behavior:
[code]

This is not at all what the documentation says ("Set to NA to return data with no associated dates such as model parameters").

[2022-04-03 12:50] bpbond commented on #591
☝️  re the zeroes, **this is correct behavior**. An un-run model is at 1/1/1745 (cf. #177 ) and the Ftot, FCO2, and Tgav are all zero.

[2022-04-09 12:05] bpbond commented on #523
The SSP files already have LUC emissions and uptake split, but the INI files and C++ code only recognize `luc_emissions`. That's the issue, right? Are we currently completely ignoring the `luc_uptake` columns?

[2022-04-18 15:34] kdorheim commented on #523
It has been a while since I have looked at this...

I will need to refresh myself but I think the problem was that with the rule that fluxes all had to be positive that the negative values in the luc_emissions column were throwing an error

[2022-04-18 16:41] #591 closed

[2022-04-18 16:42] #177 closed

[2022-04-20 17:30] kdorheim commented on #580
@bpbond we want to be done with this by May 3rd meeting

[2022-04-20 17:50] kdorheim commented on #580
Also, it sounds like this is going to be part of a major output stream variable name clean-up. We plan on doing component by component @bpbond see the google sheet

[2022-05-01 22:37] #577 closed

[2022-05-02 19:33] #523 closed

[2022-05-25 10:01] kdorheim commented on #590
@leeyap & @bpbond okay to close?

[2022-05-25 10:02] kdorheim commented on #580
Addressed in the renaming PRs #610

[2022-05-25 10:15] bpbond commented on #590
👍

[2022-05-25 10:26] #590 closed

[2022-05-26 20:02] kdorheim opened #616 "Build V3 Documentation"
Building pkgown documentation

1. Check out v3_dev branch, disconnect from VPN
2. Clean rebuild of the Hector package
3. Quit out of chrome or whatever app is used to preview HTML files. (This is not always necessary but after a certain amount of time you may be prompted to give chrome access viewing local HTML files, quitting out of the chrome is the only way to prompt this if it is actually need

[2022-06-06 15:09] #471 closed

[2022-06-06 15:18] #588 closed, assigned to nobody

[2022-06-07 19:05] leeyap opened #617 "Atmospheric CO2 returning high values"
Hi @kdorheim and @bpbond,

When I run a new core and try to extract `atmos_co2`, I'm getting some really high historical values.

Here's my workflow:
[code]

And some output:
[code]

It looks like this is consistent across scenarios. I'm working on the `v3_dev` branch, I've cleaned and rebuilt Hector, and the latest commit on my machine is a565703. Any idea what's going wrong?

[2022-06-07 20:11] kdorheim commented on #617
@leeyap are trying to query the CO2 concentrations?

[2022-06-07 20:15] leeyap commented on #617
@kdorheim ohhhhhhh. Yes, apparently! Sorry, didn't know that was what I needed to query.

[2022-06-07 20:18] kdorheim commented on #617
As part of resolving the confusion related to atmospheric C we switched to co2 concentrations, try using the CONCENTRATIONS_CO2() function, is that better?

[2022-06-07 20:19] leeyap commented on #617
Yes, those numbers look reasonable!

[2022-06-07 20:30] #617 closed

[2022-06-07 20:57] bpbond commented on #617
🤦

Oh okay so `ATMOSPHERIC_CO2()` returns it in _petagrams of carbon_. (Yes @kdorheim I know I agreed and signed off on this.) Oh man, that's going to confuse some folks.

Thank you!!!

[2022-06-16 01:47] bpbond opened #620 "unitval::unitsName() needs unit testing"
A single missing entry in it was a PITA to track down. Ideally a unit test would ensure that every valid entry in the `unit_types` enum returns a valid unit string from `unitval::unitsName`.

Re #619

[2022-06-16 04:24] bpbond opened #621 "Remove cout calls from ocean_csys - lines 162-177"
Package build reports:
[code]

[2022-06-16 04:28] bpbond commented on #621
Also
[code]

[2022-06-16 04:52] bpbond commented on #621
Also
[code]

[2022-06-26 19:14] #620 closed

[2022-07-07 20:33] bpbond opened #626 "Two-pool soil model"
Suggestion by @trevorkeenan in our meeting yesterday.

This would be straightforward to implement, interesting to test, and might be a great project for a SULI or programming-inclined postbac/postdoc.

[2022-07-21 17:30] kdorheim opened #628 "multiple-biomes.Rmd fails"
I am having issues with the multiple-biomes.Rmd script failing. When I try to run `./vignettes/articles/multiple-biomes.Rmd` the script errors early on related to some error with warmingfactor in the `split_biome` call. @bpbond is this potentially related to #627 ?

The problem

[code]

Sesson Info
[code]

[2022-07-24 16:41] bpbond commented on #628
@kdorheim I think this has been fixed in d5981de , just pushed to #624 .

Question back to you: when I do `devtools::build_vignettes()` nothing happens (it returns NULL). 😕  why?

[2022-07-25 01:36] kdorheim commented on #628
Aggh that is because as part of getting Hector CRAN compliant it went from being a vignette to an article so would run it with the `pkgdown::build_articles()` and because of the way that the github actions branches are set up this isn't running for the dev3 branch bleh

[2022-07-25 22:06] bpbond opened #633 "Add to Hector publications"
https://www.sciencedirect.com/science/article/pii/S2590332222003268

[2022-07-26 16:19] #628 closed

[2022-07-26 22:09] dawnlwoodard opened #635 "Hector crashing with various NBP constraints"
**Describe the bug**
When running Hector with an NBP constraint, seemingly many constraints break the model by the second half of the century, and some break far earlier. I have just pulled and build the most up-to-date Hector as of the day I submitted this issue.

**To Reproduce**

Here's bash code, essentially doing what the test suite does, to replicate this. First one (with the test constraint

[2022-08-11 13:33] bpbond opened #636 "Pre-commit hook or test for C++ code formatting?"
As noted [here](https://github.com/JGCRI/hector/pull/634#issuecomment-1197414953) in #634 , we could enforce C++ coding style by either a pre-commit hook or a test.

Right now this seems like overkill, but opening this issue to track the idea after discussion with @kdorheim .

[2022-08-11 19:25] #456 closed

[2022-08-11 19:25] kdorheim commented on #450
@bpbond okay to merge or still on the todo list?

[2022-08-11 20:02] bpbond commented on #450
Leave open please

[2022-09-20 00:21] bpbond commented on #636
https://datawookie.dev/blog/2022/09/enforcing-style-in-an-r-project/

[2022-10-12 14:38] bpbond opened #638 "NPP reduction from LUC fluxes, again"
@dawnlwoodard points out — cf. #531 — the problems with how Hector treats LUC emissions and NPP; basically, we currently (implicitly) handle regrowth, but accept net LUC fluxes. And that's double-counting.

Next steps:
1. We don't want to introduce a new double-count; so in `slowparameval()` reduce NPP by the ratio of the running sum to date of VegC (possibly Veg+Det) removed by LUC _emissions_ or

[2022-10-17 14:44] bpbond commented on #635
This is interesting. I find the proximate problem quickly — we were not correctly handling NBP when the solver stepped to partial (as opposed to complete) years. That fixed the crash issue, and the NBP values match 🎉  but the model climate and carbon cycle still differed. This led me to look hard at `simpleNbox::stashCValues()` and I realized we were mishandling things, again with respect to parti

[2022-10-18 00:34] #635 closed

[2022-10-28 07:19] bpbond opened #643 "Interpolation behavior"
## Current behavior

Hector time series (input data that are time-variant) can be marked as interpolation _allowed_ or _not allowed_. The land-use emissions time series allows interpolation, because if the solver stops in 1800.5, we want it to 'see' an annualized LUC value that's halfway between that of 1800 and 1801.

But for a single-year pulse test, as in @dawnlwoodard 's in #639 , this produce

[2022-10-28 08:01] bpbond commented on #643
## New behavior

In b6cf6cb we change things so that LUC, FFI, and DACCS are retrieved from their respective time series only _once_, at the beginning of the timestep in `slowparameval()`. These private values — `current_luc_e`, `current_luc_u`, etc. — are then referenced throughout `calcderivs()` and `stashCValues()`.

[code]

👍

This also reduces the code size, which is a nice bonus.

[2022-10-28 10:24] bpbond commented on #643
@dawnlwoodard

![pulse](https://user-images.githubusercontent.com/1956468/198565442-6779be99-32c9-476a-9c7b-98eda2661f36.png)

[2022-10-28 11:05] bpbond commented on #643
I am enamored of this LUC pulse test — it's a stringent test of model behavior — that I'm adding it as a permanent test.

[2022-10-28 13:51] dawnlwoodard commented on #643
@bpbond OMG THIS EXPLAINS SO MUCH. It never made sense to me that Hector was regrowing *more* carbon than it lost in my pulse experiments, because that isn't how returning to equilibrium should work. But this totally explains it!! So glad you figured it out *and* fixed it!

[2022-10-28 13:53] dawnlwoodard commented on #643
Also, that is SO satisfying to see vegetation just drop to a new equilibrium.

[2022-11-01 08:33] #643 closed

[2022-11-02 13:10] bpbond opened #649 "clang-format shouldn't touch rcpp files!"
Change documentation re `clang-format` - DON'T LET IT TOUCH THE RCPP_CONSTANTS.CPP file (or any rcpp files really)

[2022-11-02 13:31] #223 closed

[2022-11-02 16:14] #649 closed

[2022-11-03 09:22] bpbond commented on #362
Can this be closed?

[2022-11-03 09:24] bpbond commented on #547
@kdorheim Does the existence of `data/inputstable.rda` mean that this can be closed?

[2022-11-03 09:24] bpbond commented on #509
@kdorheim This can be closed thanks to your work?

[2022-11-03 11:46] bpbond commented on #88
I don't see us taking this on anytime; closing.

[2022-11-03 11:46] #88 closed

[2022-11-03 11:50] bpbond commented on #354
This is an artifact of the way Hector treats dates: "1746" in the output stream means "1746.0" = "January 1, 1746". So the NBP (in the v3 nomenclature) that we retrieve at this timepoint is for the calendar year 1745 (1/1/1745-12/31/1746).

So, closing, but let's make sure the documentation addresses this point.

[2022-11-03 11:50] #354 closed

[2022-11-03 20:52] bpbond commented on #574
Also need to describe new proportional, land-use change behavior in the documentation.

[2022-11-04 12:40] bpbond commented on #326
Why is this an open issue for us? I mean, if someone wants this capability, they can just do what Alexey lays out above, basically
[code]
right? But this seems outside of the scope of the hector package; by way of comparison, ggplot2 doesn't provide facilities for savings graph objects, but you can if you want to.

OK to close? @kdorheim

[2022-11-04 12:42] bpbond commented on #296
Closing. Robert's example in the vignette shows one way to do this.

[2022-11-04 12:42] #296 closed

[2022-11-04 12:44] bpbond commented on #56
Closing. No one has expressed a burning desire for this, and our existing constraint system provide 90% of the capability.

[2022-11-04 12:44] #56 closed

[2022-11-04 12:46] bpbond commented on #5
It seems safe to close this as no need for it has come up in the last eight years!

[2022-11-04 12:46] #5 closed

[2022-11-04 13:30] kdorheim commented on #326
Closing this issue now that it is easier to point hector cores to ini files external to the hector package and Alexey's comment above outlines a solution for users that want to do this.

[2022-11-04 14:13] kdorheim commented on #547
hmm I think the inputstable.rda is missing the function name element of what Leeya was seeking but we sort of have that already with the output table article...

[2022-11-04 14:43] #450 closed

[2022-11-07 15:36] kdorheim opened #657 "Automate the input_params and output tables"
This idea mainly relates to the `vignettes/articles/output.Rmd` file where the table in the article has to be made manually with the `scripts/R_output.R`. However, with #656 we should be able to make this table using the `fxntable` that was created for the `getfxn` capabilities it would require that we have a script that generates an up-to-date `data-raw/input_params.csv`.

Possible steps
1. Add a

[2022-11-07 15:53] bpbond commented on #657
I assume this is not for v3? Added milestone.

[2022-11-07 16:01] kdorheim commented on #547
Added in #656

[2022-11-07 16:01] #547 closed

[2022-11-08 00:27] #638 closed

[2022-11-08 01:03] kdorheim commented on #621
@bpbond it doesn't look like there are any cout calls in `ocean_cycs.cpp` okay to close?

[2022-11-08 01:55] bpbond commented on #621
Okay! Thanks for checking.

[2022-11-08 01:58] #621 closed

[2022-11-08 11:17] bpbond commented on #636
This seems unnecessary. We can just regularly reformat using `clang-format`.

[2022-11-08 11:17] #636 closed

[2022-11-08 15:30] #531 closed

[2022-11-08 17:08] kdorheim commented on #476
Do we need to do an alpha release before the final v3 release?

[2022-11-08 18:18] bpbond commented on #476
Not necessarily I don't think.

[2022-11-09 15:04] kdorheim commented on #585
It also looks like there might be a way to cache builds/environments that way we would only need to build C++ once then pass to google tests and also build R Hector once the pass to leeyabot/code coverage testing

[2022-11-09 18:53] kdorheim commented on #585
On that note we should figure out which GA need to be run every PR/ semi-regularly to catch dependency changes are they're any GA that could be manually triggered (does leeya bot need to run every time or could it be manually triggered when the PR is ready for review)?

[2022-11-16 18:40] dawnlwoodard opened #659 "Increasing CO2 under 0 NBP constraint"
**Describe the bug**
If I run Hector in equilibrium (all input emissions are 0) and with an NBP constraint set to 0, there are unexpected increases in atmospheric CO2 (and thus temperature, etc) (figure below).

![image](https://user-images.githubusercontent.com/1285408/202262721-f70a3609-f2fe-418d-b0db-7e7e012d5ee1.png)

When running Hector freely in equilibrium (no constraint), we see only small

[2022-11-18 17:22] #633 closed

[2022-11-18 17:23] kdorheim commented on #563
Addressed in #658

[2022-11-18 17:23] kdorheim commented on #340
Closed with #658

[2022-11-18 17:23] #340 closed

[2022-11-18 17:26] kdorheim commented on #495
Closed with #658

[2022-11-18 17:26] #495 closed

[2022-11-20 12:08] bpbond commented on #659
This is interesting, and I'm not sure if we should consider it a bug or not. Note that @dawnlwoodard 's zero-NBP scenario above is _weird_, because LUC is a part of NBP, so ordering a LUC of 10 Pg C but also 0 NBP is nonsensical. To keep things simpler, let's say that in the year of the pulse, the NBP constraint is -10.

## Scenario 1: no constraint versus same-NBP constraint

Consider Hector runn

[2022-11-20 12:16] bpbond commented on #659
## Summary

I could see the logic of changing from "if there's a constraint, adjust the atmosphere by any differential" to "if there's a constraint, send any atmosphere differential to the deep ocean". But  @dawnlwoodard seems like the simplest thing to do is to turn off CO2 fertilization when you're holding an NBP constraint.

![p1](https://user-images.githubusercontent.com/1956468/202901140-2b1c

[2022-11-21 15:30] dawnlwoodard commented on #659
Sorry I believe I may have caused some confusion here. If there was a 10 Pg C pulse in my input file that was a bug. It should be 0 all across the board. I was going back and forth with what values I was experimenting with so I easily could have uploaded the wrong file by mistake. But yeah the figures I showed were from running with *no* pulse and no emissions. Apologies about that!

[2022-11-21 15:51] dawnlwoodard commented on #659
If I turn off CO2 fertilization & RH and run the same test, I end up with a smaller increase but it's still there:

![image](https://user-images.githubusercontent.com/1285408/203098748-daaceb69-0523-486a-a850-1efd1919e960.png)

[2022-11-21 16:03] dawnlwoodard commented on #659
It may not seem significant on this scale but that exact pattern exists (and is amplified substantially) when running with a non-zero NBP constraint (still with emissions left at 0). For example, see the difference between a pulse test of LUC emissions set to 10 Pg C (no constraint on NBP):

![image](https://user-images.githubusercontent.com/1285408/203101343-1e97da6d-03fd-4d71-a9e3-5542ab1b2323.p

[2022-11-23 15:46] dawnlwoodard commented on #659
Per our conversation this morning, this may be able to be fixed by shunting the offset carbon to the deep ocean instead of the atmosphere. @bpbond

[2022-11-29 09:52] bpbond commented on #659
@dawnlwoodard Sorry for the slow response. I can confirm that running with a deep ocean shunt fixes the issue:

![p1](https://user-images.githubusercontent.com/1956468/204496382-d6abd47b-e59e-4e87-a786-daa4f9e4caec.png)
![p2](https://user-images.githubusercontent.com/1956468/204496429-97e07aa4-5bcf-4a6f-b77a-da6058f0b663.png)

(I am not sure why that odd stairstep pattern is occurring in the equil

[2022-11-29 17:03] #659 closed